{% extends "../base.html" %}

{% block titulo %} ARCA Inmobiliaria {% endblock %}

{% block contenido_principal %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="breadcrumb-custom"href="/">Inicio</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb-custom"href="/agents">Agentes</a></li>
        <li class="breadcrumb-item active breadcrumb-custom" aria-current="page">Modificar</li>
    </ol>
</nav>
<div class="container">
    <h2 class="sectionHeader">Edición de Agente Existente</h2>
    <form class="form-horizontal" method="post" action="/agents/edit/{{agent._id.toString()}}">
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Nombre:</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="name" name="name"
                       placeholder="Nombre del Agente" value="{{agent.name}}"
                       required="true" minlength="2" maxlength="20"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="surname">Apellidos:</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="surname" name="surname" value="{{agent.surname}}" placeholder="Apellidos del Agente"
                       required="true" minlength="2" maxlength="30"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-12">
                <input type="email" class="form-control" id="email" name="email" value="{{agent.email}}"
                       placeholder="email@email.com" required="true"  minlength="8" maxlength="50"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="password">Nueva Contraseña:</label>
            <div class="col-sm-12">
                <input id="password" type="password" class="form-control"  name="password"
                       placeholder="Contraseña" required="true" minlength="8" maxlength="100"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-12">
                <button id="confirmEditAgent" type="submit" class="col-md-12 btnSiguiente btn custom-base-style btn-lg">Editar Agente</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}