{% extends "../base.html" %} {% block titulo %}ARCA Inmobiliaria{% endblock %}

{% block contenido_principal %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Agentes</li>
    </ol>
</nav>

<div class="container">
    <h2 class="sectionHeader">Propiedades Publicadas</h2>

    <div class="headerButtonOverview card-header">
        <h5 class="mb-0">
            <button type="button" class="buttonOverview btn custom-base-style" data-toggle="collapse"
                    data-target="#agentFilter"
                    aria-expanded="false" aria-controls="agentFilter">
                <span class="fas fa-search"></span><span class="font-weight-bold">Filtro de Agentes</span>
            </button>
        </h5>
    </div>
    <div id="agentFilter" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="filter-collapse card-body">
            <form class="form-horizontal" method="get" action="/agents">
                <div class="form-row">
                    <div class="form-group col-2">
                        <label class="control-label">Nombre:</label>
                        <div>
                            <input type="text" class="form-control" name="name"
                                   placeholder="Ej. Carlos"/>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label class="control-label">Apellidos:</label>
                        <div>
                            <input type="text" class="form-control" name="surname"
                                   placeholder="Ej. Gómez Colmenero"/>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label class="control-label">E-Mail:</label>
                        <div>
                            <input type="text" class="form-control" name="email"
                                   placeholder="Ej. email@email.com"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btnSiguiente btn btn-dark btn-lg btn-block">
                        Aplicar Filtros
                    </button>
                </div>
            </form>
        </div>
    </div>


    <div class="div-field table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col-md-4">Nombre y Apellidos</th>
                <th scope="col-md-4">Email</th>
                <th scope="col-md-2"></th>
                <th scope="col-md-2"></th>
            </tr>
            </thead>
            <tbody>
            {% for agent in agents %}
            <tr>
                <td>{{ agent.name }} {{ agent.surname }}</td>
                <td>{{ agent.email }}</td>
                <td>
                    <a class="btn btn-warning float-right"
                       href="/agents/edit/{{ agent._id.toString() }}"><span class="fas fa-edit"></span></a>
                </td>
                <td>
                    <a class="btn btn-danger float-right"
                       href="/agents/delete/{{ agent._id.toString() }}"><span class="fas fa-trash"></span></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <a href="/agents/add" role="button" class="btnSiguiente btn btn-success btn-lg btn-block">Agregar
            nuevo Agente</a>
    </div>
</div>

{% endblock %}
