<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base.html" %} {% block titulo %} Agregar propiedad {% endblock %} {% block contenido_principal %}
<h2>Agregar Propiedad</h2>
<form class="form-horizontal" method="post" action="/properties" encType="multipart/form-data">
    <div class="form-group">
        <label class="control-label col-sm-2" for="name">Nombre:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="name" placeholder="Nombre de la propiedad" required="true"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="type">Tipo:</label>
        <div class="col-sm-10">
            <select id='type' class="form-control" name="type" required="true">
                <option value="" selected disabled hidden>Selecciona Uno
                </option>
                <option value="vivienda">Vivienda
                </option>
                <option value="local">Local
                </option>
                <option value="suelo">Suelo
                </option>
            </select></div>
    </div>
    <div id="propertyDiv" class="container">

    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="price">Precio(€):</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" name="price" placeholder="0.00" required="true"/></div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="imginmueble">Imagen Del Inmueble:</label>
        <div class="col-sm-10">
            <input type="file" class="custom-file-input" name="imginmueble" accept=".png" required/></div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            <!-- VIVIENDAS -->
            $('#type').on('change', function () {
                if ($('#type option:selected').val() != "") {
                    console.log("Cargamos");
                    $('#propertyDiv').load("property_views/" + $('#type option:selected').val() + "_view_add.html");
                }
            })
        });
    </script>

</form>

{% endblock %}
</body>
</html>