<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block titulo%} RSTemp {% endblock%}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/styles/css/all.css"/>
    <link rel="stylesheet" href="/styles/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
</head>
<body>

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pwstrength-bootstrap/2.2.1/pwstrength-bootstrap.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

<script>
    $(function () {
        let options = {
            common: {
                "minChar": 8,
                "maxChar": 20,
            },
            rules: {
                scores: {
                    wordNotEmail: -100,
                    wordMinLength: -50,
                    wordMaxLength: -50,
                    wordInvalidChar: -100,
                    wordSimilarToUsername: -100,
                    wordSequences: -50,
                    wordTwoCharacterClasses: 2,
                    wordRepetitions: -25,
                    wordLowercase: 25,
                    wordUppercase: 25,
                    wordOneNumber: 25,
                    wordThreeNumbers: 5,
                    wordOneSpecialChar: 25,
                    wordTwoSpecialChar: 5,
                    wordUpperLowerCombo: 2,
                    wordLetterNumberCombo: 2,
                    wordLetterNumberCharCombo: 2
                },
                activated: {
                    wordNotEmail: true,
                    wordMinLength: true,
                    wordMaxLength: true,
                    wordInvalidChar: true,
                    wordSimilarToUsername: true,
                    wordSequences: true,
                    wordTwoCharacterClasses: false,
                    wordRepetitions: false,
                    wordLowercase: true,
                    wordUppercase: true,
                    wordOneNumber: true,
                    wordThreeNumbers: false,
                    wordOneSpecialChar: true,
                    wordTwoSpecialChar: false,
                    wordUpperLowerCombo: false,
                    wordLetterNumberCombo: false,
                    wordLetterNumberCharCombo: false
                }
            }
        }
        $('#password').pwstrength();
    });

</script>
{% endblock %}

<div id="containerParent">
    <!-- Barra de Navegación superior -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/properties">
            <img class="imgLogo" src="/img/logo.png" alt="logo"/>
        </a>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" id="mTienda">
                    <a class="nav-link" href="/properties">Inicio</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/info">Contacto</a>
                </li>
                {% if user.permission == 'A' || user.permission == 'S' %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Propiedades</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/properties/add">Añadir Propiedad</a>
                        <a class="dropdown-item" href="/myproperties">Mis Propiedades</a>
                    </div>
                </li>
                {% endif %}
                {% if user.permission == 'U' %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Propiedades</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/wishes">Propiedades Guardadas</a>
                    </div>
                </li>
                {% endif %}
                <li class="nav-item active">
                    <a class="nav-link" href="/messages">Mensajes</a>
                </li>
            </ul>

            <!-- Buscador -->
            <div id="custom-search-input">
                <form method="get" action="/properties">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Búsqueda"
                               name="search"/>
                        <span class="input-group-btn">
                        <button class="btn btn-secondary" type="submit">
                            <span class="fas fa-search"></span>
                        </button>
                    </span>
                    </div>
                </form>
            </div>


            <ul class="navbar-nav navbar-right">
                {% if user == null %}
                <li class="nav-item active">
                    <a class="nav-link" href="/login"><span class="fas fa-user"></span> Iniciar Sesión</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/signin"><span class="fas fa-user-plus"></span> Registrate</a>
                </li>
                {% endif %}
                {% if user != null %}
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><span
                            class="fas fa-user"></span>{{user.email}}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/user/edit">Editar Perfil</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#modeloEliminarPerfil">Eliminar
                            Perfil</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/disconnect"><span class="fas fa-sign-out-alt"></span> Cerrar Sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% if success != undefined %}
    <div class="row">
        <div class="msgInfoUser alert alert-success col-md-12" role="alert">
            {{success}}
        </div>
    </div>
    {% endif %}
    {% if error != undefined %}
    <div class="row">
        <div class="msgInfoUser alert alert-danger col-md-12" role="alert">
            {{error}}
        </div>
    </div>
    {% endif %}

    <!-- Pantalla de asegurar que quiere borrar el perfil  -->
    <div class="modal fade" id="modeloEliminarPerfil">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" method="post" action="/user/delete">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Introduzca su contraseña de nuevo</h4>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label" for="password">Perderá toda la información almacenada en
                                ella.</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="password"
                                       placeholder="Contraseña" required="true"/>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Eliminar Cuenta</button>
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="container">
        <!-- Contenido -->
        {% block contenido_principal %}
        <!--Posiblecontenidopordefecto-->
        {% endblock%}
    </div>

    <footer class="footer">
        <p class="footerP"><span class="font-weight-bold">ARCA AGENCIA INMOBILIARIA</span></p>
        <p class="footerP">Carlos Gómez Piñeiro - Agente de la Propiedad Inmobiliaria</p>
        <p class="footerP">+34 985 470 012 / +34 647 270 438 / info@arca-inmobiliaria.com</p>
    </footer>
</div>
</body>
</html>
