<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block titulo%} RSTemp {% endblock%}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.css"/>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>


<!-- Barra de Navegación superior -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img class="imgLogo" src="/img/logo.png" alt="logo"/>
        </a>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" id="mTienda">
                    <a class="nav-link" href="/properties">Tienda</a>
                </li>
                {% if user != null %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" >Publicaciones</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/properties/add">Añadir Propiedad</a>
                        <a class="dropdown-item" href="/myproperties">Mis Propiedades</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav navbar-right">
                {% if user == null %}
                <li class="nav-item active">
                    <a class="nav-link" href="/login"><span class="fas fa-user"></span> Iniciar Sesión</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/signin"><span class="fas fa-user-plus"></span> Registrate</a>
                </li>
                {% endif %}
                {% if user != null %}
                <li class="nav-item active">
                    <a class="nav-link" href="/accountInfo"><span class="fas fa-user"></span> {{user}}</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/disconnect"><span class="fas fa-sign-out-alt"></span> Cerrar Sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
</nav>


<div class="container">

    <!-- Contenido -->
    {% block contenido_principal %}
    <!--Posiblecontenidopordefecto-->
    {% endblock%}
</div>
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
