<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block titulo%} ARCA Inmobiliaria {% endblock%}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/styles/css/all.css"/>
    <link rel="stylesheet" href="/styles/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
</head>
<body>

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pwstrength-bootstrap/2.2.1/pwstrength-bootstrap.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
    $(function () {
        let options = {
            common: {
                "minChar": 8,
                "maxChar": 20,
            },
            rules: {
                scores: {
                    wordNotEmail: -100,
                    wordMinLength: -50,
                    wordMaxLength: -50,
                    wordInvalidChar: -100,
                    wordSimilarToUsername: -100,
                    wordSequences: -50,
                    wordTwoCharacterClasses: 2,
                    wordRepetitions: -25,
                    wordLowercase: 25,
                    wordUppercase: 25,
                    wordOneNumber: 25,
                    wordThreeNumbers: 5,
                    wordOneSpecialChar: 25,
                    wordTwoSpecialChar: 5,
                    wordUpperLowerCombo: 2,
                    wordLetterNumberCombo: 2,
                    wordLetterNumberCharCombo: 2
                },
                activated: {
                    wordNotEmail: true,
                    wordMinLength: true,
                    wordMaxLength: true,
                    wordInvalidChar: true,
                    wordSimilarToUsername: true,
                    wordSequences: true,
                    wordTwoCharacterClasses: false,
                    wordRepetitions: false,
                    wordLowercase: true,
                    wordUppercase: true,
                    wordOneNumber: true,
                    wordThreeNumbers: false,
                    wordOneSpecialChar: true,
                    wordTwoSpecialChar: false,
                    wordUpperLowerCombo: false,
                    wordLetterNumberCombo: false,
                    wordLetterNumberCharCombo: false
                }
            }
        }
        $('#password').pwstrength();
    });


</script>
{% endblock %}

<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>

<div id="containerParent">
    <!-- Barra de Navegación superior -->
    <nav role="navigation" aria-label="Main" class="navbar navbar-expand-lg navbar-dark custom-base-style">
        <a class="link-logo navbar-brand" href="/">
            <img class="imgLogo" src="/img/arca.png" alt="Logotipo Arca Agencia Inmobiliaria"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar"
                aria-controls="myNavbar" aria-expanded="false" aria-label="Expandir Navegación">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown active" id="inicioMenu">
                    <a class="nav-link dropdown-toggle active" href="#" data-toggle="dropdown">Inmuebles</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/properties/vivienda">Viviendas</a>
                        <a class="dropdown-item" href="/properties/local">Locales</a>
                        <a class="dropdown-item" href="/properties/suelo">Suelos</a>
                    </div>
                </li>
                {% if user.permission != undefined %}
                <li class="nav-item dropdown active" id="propiedadesMenu">
                    <a class="nav-link dropdown-toggle active" href="#" data-toggle="dropdown">Gestión</a>
                    <div class="dropdown-menu">
                        {% if user.permission == 'A' || user.permission == 'S' %}
                        <a class="dropdown-item" href="/myproperties">Inmuebles</a>
                        <a class="dropdown-item" href="/properties/add">Añadir Inmueble</a>
                        {% endif %}
                        {% if user.permission == 'U' %}
                        <a class="dropdown-item" href="/wishes">Mis Seguimientos</a>
                        {% endif %}
                        {% if user.permission == 'S' %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" id="navAgentes" href="/agents">Agentes</a>
                        {% endif %}
                    </div>
                </li>
                {% endif %}
                {% if user.permission == 'A' || user.permission == 'S' %}
                <li class="nav-item active">
                    <a class="nav-link" href="/info/statistics">Estadísticas</a>
                </li>
                {% endif %}
                {% if user.permission != undefined %}
                <li class="nav-item active">
                    <a class="nav-link" href="/conversations">Mensajes
                        <span id="notificationsBadge" class="badge badge-danger" style="display: none;">0</span>
                    </a>
                </li>
                {% endif %}
                <li class="nav-item active">
                    <a class="nav-link" href="/info/contact">Contacto</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/info/help">Ayuda</a>
                </li>
            </ul>

            <ul class="navbar-nav navbar-right">
                {% if user == null %}
                <li class="nav-item active">
                    <a class="nav-link" href="/login"><span class="fas fa-user"></span> Iniciar Sesión</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/signin"><span class="fas fa-user-plus"></span> Regístrate</a>
                </li>
                {% endif %}
                {% if user != null %}
                <li class="nav-item dropdown active" id="perfilMenu">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><span
                            class="fas fa-user"></span>{{user.email}}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/users/edit">Editar Perfil</a>
                        {% if user.permission != 'S'%}
                        <a id="eliminarPerfil" class="dropdown-item" data-toggle="modal"
                           data-target="#modeloEliminarPerfil">Eliminar
                            Perfil</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/disconnect"><span class="fas fa-sign-out-alt"></span> Cerrar Sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="bg-dark text-white w-100 mw-100" id="divCookie" style="display: none;">
        <div class="toast-body p-4 d-flex flex-column">
            <h4>Acerca del uso de Cookies.</h4>
            <p>
                Este sitio web utiliza dispositivos de almacenamiento como cookies para recordar quién eres. además de
                mejorar su experiencia de usuario.
                Usando este sitio web, consiente el uso de estos dispositivos.
            </p>
            <div class="ml-auto">
                <button type="button" class="btn btn-light" id="btnAccept">
                    Aceptar Cookies
                </button>
            </div>
        </div>
    </div>
    {% if success != undefined %}
    {% for s in success %}
    <div class="msgInfoUser row">
        <div class="msgInfoUser alert alert-success col-md-12" role="alert">
            {{s}}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% if error != undefined %}
    {% for e in error %}
    <div class="msgInfoUser row">
        <div class="msgInfoUser alert alert-danger col-md-12" role="alert">
            {{e}}
        </div>
    </div>
    {% endfor %}
    {% endif %}

    <!-- Pantalla de asegurar que quiere borrar el perfil  -->
    <div class="modal fade" id="modeloEliminarPerfil">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" method="post" action="/users/delete">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Introduzca su contraseña de nuevo</h4>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label" for="confirmPasswordDelete">Perderá toda la información
                                almacenada en
                                ella.</label>
                            <div class="col-sm-10">
                                <input id="confirmPasswordDelete" type="password" class="form-control" name="password"
                                       placeholder="Contraseña" required="true"/>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button id='confirmDeleteProfile' type="submit" class="btn btn-danger">Eliminar Cuenta</button>
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Contenido -->
    {% block contenido_principal %}
    <!--Posiblecontenidopordefecto-->
    {% endblock%}
    <footer class="footer custom-base-style">
        <p class="footerP"><span class="font-weight-bold">ARCA AGENCIA INMOBILIARIA</span></p>
        <p class="footerP">Carlos Gómez Piñeiro - Agente de la Propiedad Inmobiliaria</p>
        <p class="footerP">+34 985 470 012 / +34 647 270 438 / info@arca-inmobiliaria.com</p>

    </footer>
</div>
</body>

<script>

    function updateNotifications(data) {
        $.ajax({
            type: 'POST',
            data: data,
            url: '/notifications/load',
        }).done(function (data) {
            let notifications = data.notifications;
            if (notifications > 0) {
                $('#notificationsBadge').text(notifications)
                $('#notificationsBadge').show();
            } else {
                $('#notificationsBadge').text("0")
                $('#notificationsBadge').hide();
            }
        });
    }

    function setCookie() {
        document.cookie = "cookie_accept=yes";
    }

    function getCookie() {
        let cookies = document.cookie.split(';');
        let cookie = "cookie_accept=yes";
        if (cookies.includes(cookie)) {
            $('#divCookie').hide();
        } else {
            $('#divCookie').show();
        }
    }

    $('#btnAccept').on('click', () => {
        setCookie();
        $('#divCookie').hide();
    })

    $(window).on('load', () => {
        $('.loader-wrapper').fadeOut('slow');
    })

    $(document).ready(function () {
        let data = {
            _id: "{{user._id}}",
            permission: '{{user.permission}}',
        }
        getCookie();

        if (data._id != "") {
            updateNotifications(data);
            let func = setInterval(function () {
                updateNotifications(data);
            }, 1000)
        }
    });


</script>

</html>
