{% extends "base.html" %}
{% block titulo %} RSTemp {% endblock %}
{% block contenido_principal %}

<div class="container">
    <h2 class="sectionHeader">Información de Contacto</h2>
    <p>Si desea contactar con nosotros, le ofrecemos tres formas diferentes de hacerlo:</p>
    <ul class="listaInfo">
        <li>Si el motivo de su contacto es la necesidad de información o tiene alguna duda respecto a alguna de las
            propiedades ofertadas,
            puede utilizar el propio chat del sistema. Para ello:
            <ol>
                <li>Inicie sesión con su cuenta. Si no posee una cuenta, cree una primero.</li>
                <li>Haga click en el botón "Contactar", junto al icono de un correo, debajo de la propiedad sobre la
                    cual desea información. Se abrirá su conversación.
                </li>
                <li>Rellene el campo con su mensaje y presione el botón "Enviar". Un agente le responderá lo antes
                    posible.
                </li>
                <li>Puede acceder en cualquier momento a esa conversación desde la sección "Mensajes".</li>
            </ol>
        <li>Si su duda es de otro tipo, o simplemente desea comunicarse con un agente sin necesidad de crearse una
            cuenta,
            puede hacerlo
            de cualquiera de estas maneras:
            <ul>
                <li>Llame al número de teléfono <span class="font-weight-bold">+34 985 470 012.</span></li>
                <li>Envíe un correo a <span class="font-weight-bold">info@arca-inmobiliaria.com</span></li>
            </ul>
        </li>
        </li>
    </ul>
</div>
