{% extends "base.html" %} 

{% block titulo %} {{Property.name}} {% endblock %}

{% block contenido_principal %}
	 <div class="row">
		<div class="media col-xs-10">
		  <div class="media-left media-middle">
			<img class="media-object" src="/propertiesimg/{{ property._id.toString() }}.png" >
		  </div>
		  <div class="media-body">
			 <h2>{{property.name}}</h2>
			 <p>Tipo: {{property.type}}</p>
			 <button type="button" class="btn btn-primary pull-right">Precio: {{property.price}}</button>
		  </div>
		</div>
	  </div>
	  
<form class="form-horizontal" method="post" action="/properties/save/{{ property._id.toString() }}" encType="multipart/form-data">
	 <div>
		 <td>
			 <button type="submit" class="btn btn-primary">Guardar</button>
		 </td>
	 </div>
</form>
{% endblock %}