<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base.html" %} {% block titulo %} ARCA Inmobiliaria {% endblock %} {% block contenido_principal %}

<div class="container">
    <h2 class="sectionHeader">Edite los campos deseados</h2>
    <form class="form-horizontal" method="post" action="/properties/edit/{{property._id.toString()}}"
          encType="multipart/form-data">

        <div id="divErrorCampos" class="row" style="display: none;">
            <div class="msgInfoUser alert alert-danger col-md-12" role="alert">
                Rellene todos los campos, por favor.
            </div>
        </div>

        <div id="divAttCommon">
            <div class="div-field form-row" style="display: none;">
                <label class="control-label" for="type">Tipo:</label>
                <div>
                    <select id='type' class="form-control" name="type">
                        <option value="vivienda">Vivienda
                        </option>
                        <option value="local">Local
                        </option>
                        <option value="suelo">Suelo
                        </option>
                    </select>
                </div>
                <script> $("#type").val('{{property.type}}'); </script>
            </div>

            <div class="div-field form-row">
                <div class="form-group col-sm-4">
                    <label class="control-label" for="code">Código:</label>
                    <div>
                        <input id='code' type="text" class="form-control" name="code"
                              value="{{property.code}}" placeholder="Ej. V001"/>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="control-label" for="name">Nombre:</label>
                    <div>
                        <input type="text" class="form-control" name="name" value="{{property.name}}"
                               placeholder="Ej. Chalet con Piscina en el Centro"/>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="control-label" for="typeOp">Tipo de Operación:</label>
                    <div>
                        <select id='typeOp' class="form-control" name="typeOp">
                            <option selected value="">Selecciona uno...</option>
                            <option value="Venta">Venta
                            </option>
                            <option value="Alquiler">Alquiler
                            </option>
                        </select>
                    </div>
                    <script> $("#typeOp").val('{{property.typeOp}}'); </script>
                </div>
            </div>
            <div id='divAddress' class="div-field form-row">
                <div class="form-group col-sm-9">
                    <label class="control-label" for="address">Dirección (Solo Calle y Portal):</label>
                    <div>
                        <input id='address' type="text" class="form-control" name="address" value="{{property.address}}"
                               placeholder="Ej. Avenida/Portal/Escalera/Piso"/>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label class="control-label" for="floorV">Piso:</label>
                    <div>
                        <input type="number" class="form-control" name="floorV" value="{{property.floor}}"
                               placeholder="Ej. 1"/>
                    </div>
                </div>
            </div>
            <div id="errorMap" class="div-field form-row" style="display: none;">
                <div class="alert alert-danger col-md-12" role="alert">
                    No se ha podido localizar la posición. Asegúrese de que la dirección es correcta.
                </div>
            </div>
            <div id="divMapContainer" style="display: none;">
                <div class="div-field form-row">
                    <div id="divMapa" class="mapLayer col-sm-12">
                    </div>
                </div>
            </div>
            <div class="div-field form-row">
                <label class="control-label col-sm-2" for="description">Descripción:</label>
                <div class="col-sm-12">
                    <textarea class="form-control" name="description" id="exampleFormControlTextarea1"
                              rows="5">{{property.description}}</textarea>
                </div>
            </div>
            <div class="div-field form-row">
                <label class="control-label col-sm-2" for="city">Población/Ciudad:</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="city" placeholder="Ej. Oviedo"
                           value="{{property.city}}"/>
                </div>
            </div>
        </div>

        <!-- DATOS DE VIVIENDA ----------------------------------------------------------------------------------------------------------------------------------------------->
        {% if property.type == 'vivienda'%}
        <div id="divAttVivienda">
            <div class="div-field form-row">
                <div class="form-group col-sm-2">
                    <label class="control-label" for="area">Superficie (m²):</label>
                    <div>
                        <input type="number" class="form-control" name="area" placeholder="Ej. 100"
                               value="{{property.area}}"/>
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <label class="control-label" for="numHabs">N. Habitaciones:</label>
                    <div>
                        <select id='numHabs' class="form-control" name="numHabs">
                            <option value="1">1
                            </option>
                            <option value="2">2
                            </option>
                            <option value="3">3
                            </option>
                            <option value="4">4 o mas
                            </option>
                        </select>
                        <script> $("#numHabs").val('{{property.numHabs}}'); </script>
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <label class="control-label" for="numBan">N. Baños:</label>
                    <div>
                        <select id='numBan' class="form-control" name="numBan">
                            <option value="1">1
                            </option>
                            <option value="2">2
                            </option>
                            <option value="3">3
                            </option>
                            <option value="4">4 o mas
                            </option>
                        </select>
                        <script> $("#numBan").val('{{property.numBan}}'); </script>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label class="control-label" for="price">Precio (€):</label>
                    <div>
                        <input type="number" class="form-control" name="price" placeholder="Ej. 1000"
                               value="{{property.price}}"/>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label class="control-label" for="priceCom">Gastos de Comunidad (€):</label>
                    <div>
                        <input type="number" class="form-control" name="priceCom" placeholder="Ej. 1000"
                               value="{{property.priceCom}}"/>
                    </div>
                </div>
            </div>
            <div class="div-field form-row">
                <div class="form-check col-sm-2">
                    {% if property.garaje == 'Si' %}
                    <input type="checkbox" class="form-check-input" name="checkGaraje" checked>
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="checkGaraje">
                    {% endif %}
                    <label class="form-check-label" for="checkGaraje">Garaje</label>
                </div>
                <div class="form-check col-sm-2">
                    {% if property.piscina == 'Si' %}
                    <input type="checkbox" class="form-check-input" name="checkPiscina" checked>
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="checkPiscina">
                    {% endif %}
                    <label class="form-check-label" for="checkPiscina">Piscina</label>
                </div>
                <div class="form-check col-sm-2">
                    {% if property.piscina == 'Si' %}
                    <input type="checkbox" class="form-check-input" name="checkTerraza" checked>
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="checkTerraza">
                    {% endif %}
                    <label class="form-check-label" for="checkTerraza">Terraza</label>
                </div>
                <div class="form-check col-sm-2">
                    {% if property.piscina == 'Si' %}
                    <input type="checkbox" class="form-check-input" name="checkTrastero" checked>
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="checkTrastero">
                    {% endif %}
                    <label class="form-check-label" for="checkTrastero">Trastero</label>
                </div>
                <div class="form-check col-sm-2">
                    {% if property.piscina == 'Si' %}
                    <input type="checkbox" class="form-check-input" name="checkJardin" checked>
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="checkJardin">
                    {% endif %}
                    <label class="form-check-label" for="checkJardin">Jardín</label>
                </div>
                <div class="form-check col-sm-2">
                    {% if property.piscina == 'Si' %}
                    <input type="checkbox" class="form-check-input" name="checkAscensor" checked>
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="checkAscensor">
                    {% endif %}
                    <label class="form-check-label" for="checkAscensor">Ascensor</label>
                </div>
            </div>
            <div class="div-field form-row">
                <div class="form-check col-sm-2">
                    {% if property.piscina == 'Si' %}
                    <input type="checkbox" class="form-check-input" name="checkCalefaccion" checked>
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="checkCalefaccion">
                    {% endif %}
                    <label class="form-check-label" for="checkCalefaccion">Calefacción</label>
                </div>
                <div class="form-check col-sm-2">
                    {% if property.piscina == 'Si' %}
                    <input type="checkbox" class="form-check-input" name="checkAireAcon" checked>
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="checkAireAcon">
                    {% endif %}
                    <label class="form-check-label" for="checkAireAcon">Aire Acondicionado</label>
                </div>
                <div class="form-check col-sm-2">
                    {% if property.piscina == 'Si' %}
                    <input type="checkbox" class="form-check-input" name="checkAmueblado" checked>
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="checkAmueblado">
                    {% endif %}
                    <label class="form-check-label" for="checkAmueblado">Amueblado</label>
                </div>
                <div class="form-check col-sm-2">
                    {% if property.piscina == 'Si' %}
                    <input type="checkbox" class="form-check-input" name="checkAnimales" checked>
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="checkAnimales">
                    {% endif %}
                    <label class="form-check-label" for="checkAnimales">Permite Animales</label>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- DATOS DE LOCAL -------------------------------------------------------------------------------------------------------------------------------------------------->
        {% if property.type == 'local'%}
        <div id="divAttLocal">
            <div class="div-field form-row">
                <div class="form-group col-sm-3">
                    <label class="control-label" for="areaLoc">Superficie (m²):</label>
                    <div>
                        <input type="number" class="form-control" name="areaLoc" value="{{property.area}}" placeholder="Ej. 100"/>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label class="control-label" for="numAsLoc">N. Aseos:</label>
                    <div>
                        <select id='numAsLoc' class="form-control" name="numAsLoc">
                            <option value="1">1
                            </option>
                            <option value="2">2
                            </option>
                            <option value="3">3
                            </option>
                            <option value="4">4 o mas
                            </option>
                        </select>
                        <script> $("#numAsLoc").val('{{property.numAseos}}'); </script>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label class="control-label" for="priceLoc">Precio (€):</label>
                    <div>
                        <input type="number" value="{{property.price}}" class="form-control" name="priceLoc" placeholder="Ej. 1000"/>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label class="control-label" for="priceComLoc">Gastos de Comunidad (€):</label>
                    <div>
                        <input type="number" value="{{property.priceCom}}" class="form-control" name="priceComLoc" placeholder="Ej. 1000"/>
                    </div>
                </div>
            </div>
            <div class="div-field form-row">
                <div class="form-check col-sm-2">
                    {% if property.escaparate == 'Si' %}
                    <input type="checkbox" class="form-check-input" name="checkEscaparateLoc" checked>
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="checkEscaparateLoc">
                    {% endif %}
                    <label class="form-check-label" for="checkEscaparateLoc">Escaparate</label>
                </div>
                <div class="form-check col-sm-2">
                    {% if property.aparcamiento == 'Si' %}
                    <input type="checkbox" class="form-check-input" name="checkAparcamientoLoc" checked>
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="checkAparcamientoLoc">
                    {% endif %}
                    <label class="form-check-label" for="checkAparcamientoLoc">Aparcamiento</label>
                </div>
                <div class="form-check col-sm-2">
                    {% if property.cargaYdescarga == 'Si' %}
                    <input type="checkbox" class="form-check-input" name="checkCargaYDescargaLoc" checked>
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="checkCargaYDescargaLoc">
                    {% endif %}
                    <label class="form-check-label" for="checkCargaYDescargaLoc">Carga y Descarga</label>
                </div>
                <div class="form-check col-sm-2">
                    {% if property.extintores == 'Si' %}
                    <input type="checkbox" class="form-check-input" name="checkExtintoresLoc" checked>
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="checkExtintoresLoc">
                    {% endif %}
                    <label class="form-check-label" for="checkExtintoresLoc">Extintores</label>
                </div>
                <div class="form-check col-sm-2">
                    {% if property.iluminacion == 'Si' %}
                    <input type="checkbox" class="form-check-input" name="checkIluminacionLoc" checked>
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="checkIluminacionLoc">
                    {% endif %}
                    <label class="form-check-label" for="checkIluminacionLoc">Iuminación</label>
                </div>
            </div>
            <div class="div-field form-row">
                <div class="form-check col-sm-2">
                    {% if property.calefaccion == 'Si' %}
                    <input type="checkbox" class="form-check-input" name="checkCalefaccionLoc" checked>
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="checkCalefaccionLoc">
                    {% endif %}
                    <label class="form-check-label" for="checkCalefaccionLoc">Calefacción</label>
                </div>
                <div class="form-check col-sm-2">
                    {% if property.aireAcon == 'Si' %}
                    <input type="checkbox" class="form-check-input" name="checkAireAconLoc" checked>
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="checkAireAconLoc">
                    {% endif %}
                    <label class="form-check-label" for="checkAireAconLoc">Aire Acondicionado</label>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- DATOS DE SUELO -------------------------------------------------------------------------------------------------------------------------------------------------->
        {% if property.type == 'suelo'%}
        <div id="divAttSuelo" style="display: none;">
            <div class="div-field form-row">
                <label class="control-label col-sm-2" for="situationSue">Situación:</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="situationSue" placeholder="Ej. San Quintín" value="{{property.situation}}"
                    />
                </div>
            </div>
            <div class="div-field form-row">
                <div class="form-group col-sm-4">
                    <label class="control-label" for="areaSue">Superficie Total (m²):</label>
                    <div>
                        <input type="number" class="form-control" name="areaSue" placeholder="Ej. 100" value="{{property.area}}"/>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="control-label" for="areaEdifSue">Superficie Edificable (m²):</label>
                    <div>
                        <input type="number" class="form-control" name="areaEdifSue" placeholder="Ej. 100" value="{{property.edifArea}}"/>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="control-label" for="priceSue">Precio Total(€):</label>
                    <div>
                        <input type="number" class="form-control" name="priceSue" placeholder="Ej. 1000" value="{{property.price}}"/>
                    </div>
                </div>
            </div>
            <div class="div-field form-row">
                <div class="form-check col-sm-3">
                    {% if property.accesoAgua == 'Si' %}
                    <input type="checkbox" class="form-check-input" name="accesoAguaSue" checked>
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="accesoAguaSue">
                    {% endif %}
                    <label class="form-check-label" for="accesoAguaSue">Acceso a Agua</label>
                </div>
                <div class="form-check col-sm-3">
                    {% if property.accesoLuz == 'Si' %}
                    <input type="checkbox" class="form-check-input" name="accesoLuzSue" checked>
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="accesoLuzSue">
                    {% endif %}
                    <label class="form-check-label" for="accesoLuzSue">Acceso a Luz</label>
                </div>
            </div>
        </div>
        {% endif %}
        <div id="divPropertiesButtons">
            <div class="row">
                <button id="btnPropertiesS" type="button" class="btnSiguiente btn btn-success btn-lg btn-block">
                    Siguiente
                </button>
            </div>
        </div>

        <!-- DATOS DE PROPIETARIO -------------------------------------------------------------------------------------------------------------------------------------------->
        <div id="divOwner" style="display: none;">
            <div class="div-field form-row">
                <label class="control-label col-sm-2" for="nameOwner">Nombre:</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="nameOwner" placeholder="Ej. Claudia" value="{{property.nameOwner}}"
                    />
                </div>
            </div>
            <div class="div-field form-row">
                <label class="control-label col-sm-2" for="surnameOwner">Apellidos:</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="surnameOwner" placeholder="Ej. Pérez Peláez" value="{{property.surnameOwner}}"
                    />
                </div>
            </div>
            <div class="div-field form-row">
                <div class="form-group col-sm-3">
                    <label class="control-label" for="dniOwner">DNI/NIF/NIE:</label>
                    <div>
                        <input type="text" class="form-control" name="dniOwner" placeholder="Ej. 55555555E" value="{{property.dniOwner}}"
                        />
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label class="control-label" for="phoneOwner">Teléfono:</label>
                    <div>
                        <input type="number" class="form-control" name="phoneOwner" placeholder="Ej. 666666666" value="{{property.phoneOwner}}"
                        />
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label" for="emailOwner">Correo Electrónico:</label>
                    <div>
                        <input type="email" class="form-control" name="emailOwner"
                               placeholder="Ej. propietario@gmail.com" value="{{property.emailOwner}}"
                        />
                    </div>
                </div>
            </div>
            <div class="div-field form-row">
                <label class="control-label col-sm-2" for="addressOwner">Dirección:</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="addressOwner" placeholder="Ej. C/ Uría 10, P-4D" value="{{property.addressOwner}}"
                    />
                </div>
            </div>
            <div class="div-field form-row">
                <div class="col-sm-6">
                    <button id="btnOwnerA" type="button" class="col-sm-6 btnSiguiente btn btn-secondary btn-lg ">
                        Anterior
                    </button>
                </div>
                <div class="col-sm-6">
                    <button id="btnOwnerS" type="button" class="col-sm-6 btnSiguiente btn btn-success btn-lg ">
                        Siguiente
                    </button>
                </div>
            </div>
        </div>


        <!-- CARGA DE IMAGENES ----------------------------------------------------------------------------------------------------------------------------------------------->
        <div id="divErrorImg" class="row" style="display: none;">
            <div class="msgInfoUser alert alert-danger col-md-12" role="alert">
                Seleccione, al menos, una imagen, por favor.
            </div>
        </div>
        <div id="divPictures" style="display: none;">
            <input type="file" class="input-img form-control" name='imginmueble' id="imginmueble" multiple>
            <div class="div-field form-row">
                <div class="col-sm-6">
                    <button id="btnPicturesA" type="button" class="col-sm-6 btnSiguiente btn btn-secondary btn-lg ">
                        Anterior
                    </button>
                </div>
                <div class="col-sm-6">
                    <button id="btnPicturesS" type="button" class="col-sm-6 btnSiguiente btn btn-success btn-lg ">
                        Siguiente
                    </button>
                </div>
            </div>
        </div>


        <!-- RESUMEN FINAL - GENERAL ----------------------------------------------------------------------------------------------------------------------------------------->
        <div id="divCommonOverview" style="display: none;">
            <div class="noBorder card">
                <div class="headerButtonOverview card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button type="button" class="buttonOverview btn btn-secondary" data-toggle="collapse"
                                data-target="#propertyCollapse"
                                aria-expanded="true" aria-controls="propertyCollapse">
                            <h2>Datos de la Propiedad</h2>
                        </button>
                    </h5>
                </div>
                <div id="propertyCollapse" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <!-- RESUMEN FINAL - VIVIENDA --------------------------------------------------------------------------------------------------------------------------------------->
                    <div class='overviewDiv' id="divOverviewVivienda" style="display: none;">
                        <div class="row col-md-12">
                            <dl class="col-md-12">
                                <dt>Tipo de Operación:</dt>
                                <dd id='typeOpVivD'></dd>
                            </dl>
                            <dl class="col-md-6">
                                <dt>Nombre:</dt>
                                <dd id='nameVivD'></dd>
                                <dt>Dirección:</dt>
                                <dd id='addressVivD'></dd>
                            </dl>
                            <dl class="col-md-6">
                                <dt>Tipo:</dt>
                                <dd id='typeVivD'></dd>
                                <dt>Ciudad/Poblado:</dt>
                                <dd id="cityVivD"></dd>
                            </dl>
                            <dl class="col-md-12">
                                <dt>Descripción:</dt>
                                <dd id='descriptionVivD'></dd>
                            </dl>
                            <dl class="col-md-6">
                                <dt>Superficie:</dt>
                                <dd id='areaVivD'></dd>
                                <dt>Precio:</dt>
                                <dd id='priceVivD'></dd>
                            </dl>
                            <dl class="col-md-6">
                                <dt>N. Habitaciones/ N. Baños:</dt>
                                <dd id='habsBansVivD'></dd>
                                <dt>Gastos de Comunidad:</dt>
                                <dd id='priceComVivD'></dd>
                            </dl>
                            <dl class="col-md-4">
                                <dt>Garaje:</dt>
                                <dd id='garajeVivD'></dd>
                                <dt>Trastero:</dt>
                                <dd id='trasteroVivD'></dd>
                                <dt>Calefacción:</dt>
                                <dd id='calefaccionVivD'></dd>
                                <dt>Permite Animales:</dt>
                                <dd id='animalesVivD'></dd>
                            </dl>
                            <dl class="col-md-4">
                                <dt>Piscina:</dt>
                                <dd id='piscinaVivD'></dd>
                                <dt>Jardín:</dt>
                                <dd id='jardinVivD'></dd>
                                <dt>Aire Acondicionado:</dt>
                                <dd id='aireAconVivD'></dd>
                            </dl>
                            <dl class="col-md-4">
                                <dt>Terraza:</dt>
                                <dd id='terrazaVivD'></dd>
                                <dt>Ascensor:</dt>
                                <dd id='ascensorVivD'></dd>
                                <dt>Amueblado:</dt>
                                <dd id='amuebladoVivD'></dd>
                            </dl>
                        </div>
                    </div>
                    <!-- RESUMEN FINAL - LOCAL ------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class='overviewDiv' id="divOverviewLocal" style="display: none;">
                        <div class="row col-md-12">
                            <dl class="col-md-12">
                                <dt>Tipo de Operación:</dt>
                                <dd id='typeOpLocD'></dd>
                            </dl>
                            <dl class="col-md-6">
                                <dt>Nombre:</dt>
                                <dd id='nameLocD'></dd>
                                <dt>Dirección:</dt>
                                <dd id='addressLocD'></dd>
                            </dl>
                            <dl class="col-md-6">
                                <dt>Tipo:</dt>
                                <dd id='typeLocD'></dd>
                                <dt>Ciudad/Poblado:</dt>
                                <dd id="cityLocD"></dd>
                            </dl>
                            <dl class="col-md-12">
                                <dt>Descripción:</dt>
                                <dd id='descriptionLocD'></dd>
                            </dl>
                            <dl class="col-md-6">
                                <dt>Superficie:</dt>
                                <dd id='areaLocD'></dd>
                                <dt>Precio:</dt>
                                <dd id='priceLocD'></dd>
                            </dl>
                            <dl class="col-md-6">
                                <dt>N. Aseos:</dt>
                                <dd id='aseosLocD'></dd>
                                <dt>Gastos de Comunidad:</dt>
                                <dd id='priceComLocD'></dd>
                            </dl>
                            <dl class="col-md-4">
                                <dt>Escaparate:</dt>
                                <dd id='escaparateLocD'></dd>
                                <dt>Extintores:</dt>
                                <dd id='extintoresLocD'></dd>
                                <dt>Aire Acondicionado:</dt>
                                <dd id='aireAconLocD'></dd>
                            </dl>
                            <dl class="col-md-4">
                                <dt>Aparcamiento:</dt>
                                <dd id='aparcamientoLocD'></dd>
                                <dt>Iluminación:</dt>
                                <dd id='iluminaciónLocD'></dd>
                            </dl>
                            <dl class="col-md-4">
                                <dt>Carga y Descarga:</dt>
                                <dd id='cargaYDesLocD'></dd>
                                <dt>Calefacción:</dt>
                                <dd id='calefaccionLocD'></dd>
                            </dl>
                        </div>
                    </div>
                    <!-- RESUMEN FINAL - SUELO ------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class='overviewDiv' id="divOverviewSuelo" style="display: none;">
                        <div class="row col-md-12">
                            <dl class="col-md-12">
                                <dt>Tipo de Operación:</dt>
                                <dd id='typeOpSueD'></dd>
                            </dl>
                            <dl class="col-md-6">
                                <dt>Nombre:</dt>
                                <dd id='nameSueD'></dd>
                                <dt>Situación:</dt>
                                <dd id='situationSueD'></dd>
                            </dl>
                            <dl class="col-md-6">
                                <dt>Tipo:</dt>
                                <dd id='typeSueD'></dd>
                                <dt>Ciudad/Poblado:</dt>
                                <dd id="citySueD"></dd>
                            </dl>
                            <dl class="col-md-12">
                                <dt>Descripción:</dt>
                                <dd id='descriptionSueD'></dd>
                            </dl>
                            <dl class="col-md-4">
                                <dt>Superficie Total:</dt>
                                <dd id='areaSueD'></dd>
                            </dl>
                            <dl class="col-md-4">
                                <dt>Superficie Edificable:</dt>
                                <dd id='supEdifSueD'></dd>
                            </dl>
                            <dl class="col-md-4">
                                <dt>Precio Total:</dt>
                                <dd id='priceSueD'></dd>
                            </dl>
                            <dl class="col-md-6">
                                <dt>Acceso a Agua:</dt>
                                <dd id='accesoAguaSueD'></dd>
                            </dl>
                            <dl class="col-md-6">
                                <dt>Acceso a Luz:</dt>
                                <dd id='accesoLuzSueD'></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="noBorder card">
                <div class="headerButtonOverview buttonOverview card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button type="button" class="buttonOverview btn btn-dark" data-toggle="collapse"
                                data-target="#ownerCollapse"
                                aria-expanded="true" aria-controls="ownerCollapse">
                            <h2>Datos del Propietario</h2>
                        </button>
                    </h5>
                </div>
                <div id="ownerCollapse" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                    <!-- RESUMEN FINAL - PROPIETARIO ------------------------------------------------------------------------------------------------------------------------------------->
                    <div class='overviewDiv' id="divOverviewPropietario" style="display: none;">
                        <div class="row col-md-12">
                            <dl class="col-md-6">
                                <dt>Nombre y Apellidos:</dt>
                                <dd id='namesurnameOwnerD'></dd>
                                <dt>Correo Electrónico:</dt>
                                <dd id='emailOwnerD'></dd>
                                <dt>Dirección:</dt>
                                <dd id='addressOwnerD'></dd>
                            </dl>
                            <dl class="col-md-6">
                                <dt>DNI/NIF/NIE:</dt>
                                <dd id='dniOwnerD'></dd>
                                <dt>Número de Teléfono:</dt>
                                <dd id='phoneOwnerD'></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-field form-row">
                <div class="col-sm-6">
                    <button id="btnOverwievA" type="button" class="col-sm-6 btnSiguiente btn btn-secondary btn-lg ">
                        Anterior
                    </button>
                </div>
                <div class="col-sm-6">
                    <button id="btnOverwievS" type="submit" class="btnSiguiente btn btn-success btn-lg btn-block">
                        Confirmar
                        Y
                        Guardar
                    </button>
                </div>
            </div>
            <div class="row">

            </div>
        </div>

        <!-- SCRIPTS --------------------------------------------------------------------------------------------------------------------------------------------------------->
        <script>
            let mapaLocal = null;
            let marker = null;
            let property = null;
            let owner = null;

            $(document).ready(writeMap($('#address').val()));

            // Mostrar el mapa al dejar de escribir la dirección
            $('#address').focusout(function () {
                writeMap($('#address').val());
            });

            // PASO DE FASE 1 (Propiedades) A FASE 2 (Propietario)
            $('#btnPropertiesS').on('click', function () {
                let tipo =  '{{property.type}}'
                let campos = false;
                if (tipo == 'vivienda') {
                    property = {
                        type: 'vivienda',
                        typeOp: $("[name='typeOp']").val(),
                        name: $("[name='name']").val(),
                        address: $("[name='address']").val(),
                        floor: $("[name='floorV']").val(),
                        description: $("[name='description']").val(),
                        city: $("[name='city']").val(),
                        area: $("[name='area']").val(),
                        numHabs: $("[name='numHabs']").val(),
                        numBan: $("[name='numBan']").val(),
                        price: $("[name='price']").val(),
                        priceCom: $("[name='priceCom']").val(),
                        garaje: $("[name='checkGaraje']").prop('checked'),
                        piscina: $("[name='checkPiscina']").prop('checked'),
                        terraza: $("[name='checkTerraza']").prop('checked'),
                        trastero: $("[name='checkTrastero']").prop('checked'),
                        jardin: $("[name='checkJardin']").prop('checked'),
                        ascensor: $("[name='checkAscensor']").prop('checked'),
                        calefaccion: $("[name='checkCalefaccion']").prop('checked'),
                        aireAcon: $("[name='checkAireAcon']").prop('checked'),
                        amueblado: $("[name='checkAmueblado']").prop('checked'),
                        animales: $("[name='checkAnimales']").prop('checked')
                    }
                    if (property.typeOp != "" && checkProperty(property.name) && checkProperty(property.address) && checkProperty(property.floor) && checkProperty(property.description) &&
                        checkProperty(property.city) && checkProperty(property.area) && checkProperty(property.numHabs) && checkProperty(property.numBan) &&
                        checkProperty(property.price) && checkProperty(property.priceCom) && checkProperty(property)) {
                        campos = true;
                    }
                }
                if (tipo == "local") {
                    property = {
                        type: 'local',
                        typeOp: $("[name='typeOp']").val(),
                        name: $("[name='name']").val(),
                        address: $("[name='address']").val(),
                        floor: $("[name='floorV']").val(),
                        description: $("[name='description']").val(),
                        city: $("[name='city']").val(),
                        area: $("[name='areaLoc']").val(),
                        numAseos: $("[name='numAsLoc']").val(),
                        price: $("[name='priceLoc']").val(),
                        priceCom: $("[name='priceComLoc']").val(),
                        escaparate: $("[name='checkEscaparateLoc']").prop('checked'),
                        aparcamiento: $("[name='checkAparcamientoLoc']").prop('checked'),
                        cargaYdescarga: $("[name='checkCargaYDescargaLoc']").prop('checked'),
                        extintores: $("[name='checkExtintoresLoc']").prop('checked'),
                        iluminacion: $("[name='checkIluminacionLoc']").prop('checked'),
                        calefaccion: $("[name='checkCalefaccionLoc']").prop('checked'),
                        aireAcon: $("[name='checkAireAconLoc']").prop('checked')
                    }
                    console.log(property)
                    if (checkProperty(property.typeOp)  && checkProperty(property.name) && checkProperty(property.address) && checkProperty(property.floor) && checkProperty(property.description) &&
                        checkProperty(property.city) && checkProperty(property.area) && checkProperty(property.numAseos) && checkProperty(property.price) &&
                        checkProperty(property.priceCom)) {
                        campos = true;
                    }
                }
                if (tipo == 'suelo') {
                    property = {
                        type: 'suelo',
                        typeOp: $("[name='typeOp']").val(),
                        name: $("[name='name']").val(),
                        description: $("[name='description']").val(),
                        city: $("[name='city']").val(),
                        situation: $("[name='situationSue']").val(),
                        area: $("[name='areaSue']").val(),
                        edifArea: $("[name='areaEdifSue']").val(),
                        price: $("[name='priceSue']").val(),
                        accesoAgua: $("[name='accesoAguaSue']").prop('checked'),
                        accesoLuz: $("[name='accesoLuzSue']").prop('checked')
                    }
                    if (property.typeOp != "" && checkProperty(property.name) && checkProperty(property.description) && checkProperty(property.city) &&
                        checkProperty(property.situation) && checkProperty(property.area) && checkProperty(property.edifArea) &&
                        checkProperty(property.price)) {
                        campos = true;
                    }
                }

                if (campos == true)
                    phase2();
                else
                    $('#divErrorCampos').show();
            });
            // PASO DE FASE 2 (Propietario) A FASE 3 (Multimedia)
            $('#btnOwnerS').on('click', function () {
                let campos = false;
                owner = {
                    name: $("[name='nameOwner']").val(),
                    surname: $("[name='surnameOwner']").val(),
                    dni: $("[name='dniOwner']").val(),
                    phoneNumber: $("[name='phoneOwner']").val(),
                    email: $("[name='emailOwner']").val(),
                    address: $("[name='addressOwner']").val()
                }
                if (checkProperty(owner.name) && checkProperty(owner.surname) && checkProperty(owner.dni) && checkProperty(owner.phoneNumber) &&
                    checkProperty(owner.email) && checkProperty(owner.address)) {
                    campos = true;
                }
                if (campos == true)
                    phase3();
                else
                    $('#divErrorCampos').show();
            });
            // VUELTA DE FASE 2 (Propietario) A FASE 1 (Propiedades)
            $('#btnOwnerA').on('click', function () {
                $('#divErrorCampos').hide();
                phase1($("#type").val());
            });
            // PASO DE FASE 3 (Multimedia) A FASE 4 (Resumen)
            $('#btnPicturesS').on('click', function () {
                let _files = $('#imginmueble').prop("files");
                if (_files.length <= 0) {
                    $('#divErrorImg').show();
                } else {
                    $('#divErrorImg').hide();
                    phase4();
                }
            });
            // VUELTA DE FASE 3 (Multimedia) A FASE 2 (Propietario)
            $('#btnPicturesA').on('click', function () {
                phase2();
            });
            // VUELTA DE FASE 4 (Resumen) A FASE 3 (Multimedia)
            $('#btnOverwievA').on('click', function () {
                phase3();
            });


            // FUNCIONES
            function phase1(type) {
                $('#divAddOptions').hide();
                $('#divAttCommon').show();
                $('#divPropertiesButtons').show();
                $('#divAddress').show();

                $('#divAttVivienda').hide();
                $('#divAttLocal').hide();
                $('#divAttSuelo').hide();

                $('#divCommonOverview').hide();
                $('#divOverviewVivienda').hide();
                $('#divOverviewLocal').hide();
                $('#divOverviewSuelo').hide();
                $('#divOverviewPropietario').hide();
                $('#divLatLong').hide();


                if (type == "vivienda")
                    $('#divAttVivienda').show();
                if (type == "local")
                    $('#divAttLocal').show();
                if (type == "suelo") {
                    $('#divAttSuelo').show();
                    $('#divAddress').hide();
                    $('#divMapContainer').hide();
                }

                $('#divOwner').hide();
                $('#divPictures').hide();

                setHeader("Añada la información de la propiedad");
            }

            function phase2() {
                $('#divErrorCampos').hide();

                $('#divAddOptions').hide();
                $('#divAttCommon').hide();

                $('#divAttVivienda').hide();
                $('#divAttLocal').hide();
                $('#divAttSuelo').hide();
                $('#divPropertiesButtons').hide();
                $('#divLatLong').hide();

                $('#divCommonOverview').hide();
                $('#divOverviewVivienda').hide();
                $('#divOverviewLocal').hide();
                $('#divOverviewSuelo').hide();
                $('#divOverviewPropietario').hide();

                $('#divPictures').hide();
                $('#divOwner').show();

                setHeader("Edite la información del propietario.");
            }

            function phase3() {
                $('#divErrorCampos').hide();

                $('#divAddOptions').hide();
                $('#divAttCommon').hide();

                $('#divAttVivienda').hide();
                $('#divAttLocal').hide();
                $('#divAttSuelo').hide();
                $('#divPropertiesButtons').hide();
                $('#divLatLong').hide();

                $('#divCommonOverview').hide();
                $('#divOverviewVivienda').hide();
                $('#divOverviewLocal').hide();
                $('#divOverviewSuelo').hide();
                $('#divOverviewPropietario').hide();

                $('#divOwner').hide();
                $('#divPictures').show();

                setHeader("Introduzca las nuevas imágenes.");
            }

            function phase4() {
                $('#divErrorCampos').hide();

                $('#divAddOptions').hide();
                $('#divAttCommon').hide();
                $('#divAttVivienda').hide();
                $('#divAttLocal').hide();
                $('#divAttSuelo').hide();
                $('#divPropertiesButtons').hide();
                $('#divOwner').hide();
                $('#divPictures').hide();
                $('#divLatLong').hide();

                $('#divCommonOverview').show();
                $('#divOverviewVivienda').hide();
                $('#divOverviewLocal').hide();
                $('#divOverviewSuelo').hide();

                $('#divOverviewPropietario').show();

                if (property.type == 'vivienda') {
                    $('#divOverviewVivienda').show();
                }
                if (property.type == 'local') {
                    $('#divOverviewLocal').show();
                }
                if (property.type == 'suelo') {
                    $('#divOverviewSuelo').show();
                }

                fillFields();
                setHeader("Resumen.");
            }

            function fillFields() {
                if (property.type == 'vivienda') {
                    $('#typeVivD').text(property.type);
                    $('#typeOpVivD').text(property.typeOp);
                    $('#nameVivD').text(property.name);
                    $('#addressVivD').text(property.address + ', P-' + property.floor);
                    $('#cityVivD').text(property.city);
                    $('#descriptionVivD').text(property.description);
                    $('#areaVivD').text(property.area + " m²");
                    $('#habsBansVivD').text(property.numHabs + ' / ' + property.numBan);
                    $('#priceVivD').text(property.price + " €");
                    $('#priceComVivD').text(property.priceCom + " €");
                    $('#garajeVivD').text(hasDetail(property.garaje));
                    $('#piscinaVivD').text(hasDetail(property.piscina));
                    $('#terrazaVivD').text(hasDetail(property.terraza));
                    $('#trasteroVivD').text(hasDetail(property.trastero));
                    $('#jardinVivD').text(hasDetail(property.jardin));
                    $('#ascensorVivD').text(hasDetail(property.ascensor));
                    $('#calefaccionVivD').text(hasDetail(property.calefaccion));
                    $('#aireAconVivD').text(hasDetail(property.aireAcon));
                    $('#amuebladoVivD').text(hasDetail(property.amueblado));
                    $('#animalesVivD').text(hasDetail(property.animales));
                }
                if (property.type == 'local') {
                    $('#typeLocD').text(property.type);
                    $('#typeOpLocD').text(property.typeOp);
                    $('#nameLocD').text(property.name);
                    $('#addressLocD').text(property.address + ', P-' + property.floor);
                    $('#cityLocD').text(property.city);
                    $('#descriptionLocD').text(property.description);
                    $('#areaLocD').text(property.area + " m²");
                    $('#priceLocD').text(property.price + " €");
                    $('#aseosLocD').text(property.numAseos);
                    $('#priceComLocD').text(property.priceCom + " €");
                    $('#escaparateLocD').text(hasDetail(property.escaparate));
                    $('#extintoresLocD').text(hasDetail(property.extintores));
                    $('#aireAconLocD').text(hasDetail(property.aireAcon));
                    $('#aparcamientoLocD').text(hasDetail(property.aparcamiento));
                    $('#iluminaciónLocD').text(hasDetail(property.iluminacion));
                    $('#cargaYDesLocD').text(hasDetail(property.cargaYdescarga));
                    $('#calefaccionLocD').text(hasDetail(property.calefaccion));
                }
                if (property.type == 'suelo') {
                    $('#typeSueD').text(property.type);
                    $('#typeOpSueD').text(property.typeOp);
                    $('#nameSueD').text(property.name);
                    $('#situationSueD').text(property.situation);
                    $('#citySueD').text(property.city);
                    $('#descriptionSueD').text(property.description);
                    $('#areaSueD').text(property.area + " m²");
                    $('#supEdifSueD').text(property.edifArea + " m²");
                    $('#priceSueD').text(property.price + " €");
                    $('#accesoAguaSueD').text(hasDetail(property.accesoAgua));
                    $('#accesoLuzSueD').text(hasDetail(property.accesoLuz));
                }

                $('#namesurnameOwnerD').text(owner.name + " " + owner.surname);
                $('#dniOwnerD').text(owner.dni);
                $('#phoneOwnerD').text(owner.phoneNumber);
                $('#emailOwnerD').text(owner.email);
                $('#addressOwnerD').text(owner.address);
            }

            function setHeader(textI) {
                $('.sectionHeader').text(textI);
            }

            function writeMap(address) {
                $.get(location.protocol + '//nominatim.openstreetmap.org/search?format=json&q=' + address, function (data) {
                    if (data[0] != undefined) {
                        $('#divMapa').innerHTML = "";
                        $('#divMapContainer').show();
                        $('#errorMap').hide();
                        let lattitude = data[0].lat;
                        let longitude = data[0].lon;

                        if (mapaLocal == null)
                            mapaLocal = L.map('divMapa');
                        else
                            mapaLocal.removeLayer(marker);
                        mapaLocal.setView([lattitude, longitude], 13);

                        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                        }).addTo(mapaLocal);

                        marker = L.marker([lattitude, longitude]);
                        marker.addTo(mapaLocal);

                    } else {
                        $('#divMapContainer').hide();

                        if ($('#address').val() != "")
                            $('#errorMap').show();
                        else
                            $('#errorMap').hide();
                    }
                });
            }

            function checkProperty(name) {
                if (name == "" || name == null) {
                    return false;
                }
                return true;
            }

            function hasDetail(detail) {
                return (detail == true) ? "Si" : "No";
            }
        </script>
    </form>


    {% endblock %}
</div>
</body>
</html>