{% extends "base.html" %} {% block titulo %} ARCA Inmobiliaria {% endblock %}

{% block contenido_principal %}

<div class="container">
    <h2 class="sectionHeader">Mis Publicaciones</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col-md-5">Nombre</th>
                <th scope="col-md-2">Tipo</th>
                <th scope="col-md-2">Precio</th>
                <th scope="col-md-1"></th>
                <th scope="col-md-1"></th>
                <th scope="col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            {% for property in properties %}
            <tr>
                <td>{{ property.name }}</td>
                <td>{{ property.type }}</td>
                <td>{{ property.price }}</td>
                <td>
                    <a class="btn btn-warning float-right"
                       href="/properties/edit/{{ property._id.toString() }}"><span class="fas fa-edit"></span></a>
                </td>
                <td>
                    <a class="btn btn-secondary float-right"
                       href="/properties/details/{{ property._id.toString() }}"><span class="far fa-eye"></span></a>
                </td>
                <td>
                    <a class="btn btn-danger float-right"
                       href="/properties/delete/{{ property._id.toString() }}"><span class="fas fa-trash"></span></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <a href="/properties/add" role="button" class="btnSiguiente btn btn-success btn-lg btn-block">Agregar propiedad</a>
    </div>
</div>

{% endblock %}
