{% extends "base.html" %} {% block titulo %} ARCA Inmobiliaria {% endblock %}

{% block contenido_principal %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Mis Propiedades</li>
    </ol>
</nav>
<div class="container">
    <h2 class="sectionHeader">Propiedades Publicadas</h2>

    <div class="headerButtonOverview card-header">
        <h5 class="mb-0">
            <button type="button" class="buttonOverview btn btn-outline-dark" data-toggle="collapse"
                    data-target="#myPropertiesFilter"
                    aria-expanded="false" aria-controls="myPropertiesFilter">
                <span class="fas fa-search"></span><span class="font-weight-bold">Filtro de Propiedades</span>
            </button>
        </h5>
    </div>
    <div id="myPropertiesFilter" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="filter-collapse card-body">
            <form class="form-horizontal" method="get" action="/myproperties">
                <div class="form-row">
                    <div class="form-group col-4">
                        <label class="control-label">Nombre Propietario:</label>
                        <div>
                            <input type="text" class="form-control" name="nameOwner"
                                   placeholder="Ej. Carlos"/>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label class="control-label">Apellidos Propietario:</label>
                        <div>
                            <input type="text" class="form-control" name="surnameOwner"
                                   placeholder="Ej. Gómez Colmenero"/>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label class="control-label">DNI/NIF/NIE Propietario:</label>
                        <div>
                            <input type="text" class="form-control" name="dniOwner"
                                   placeholder="Ej. 55555555L"/>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-4">
                        <label class="control-label">Código:</label>
                        <div>
                            <input type="text" class="form-control" name="code"
                                   placeholder="Ej. V001"/>
                        </div>
                    </div>
                    <div class="form-group col-8">
                        <label class="control-label">Nombre:</label>
                        <div>
                            <input type="text" class="form-control" name="name"
                                   placeholder="Ej. Carlos"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btnSiguiente btn btn-dark btn-lg btn-block">
                        Aplicar Filtros
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="div-field table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col-md-3"></th>
                <th scope="col-md-1">Código</th>
                <th scope="col-md-2">Nombre</th>
                <th scope="col-md-1">Tipo</th>
                <th scope="col-md-2">Precio</th>
                <th scope="col-md-1"></th>
                <th scope="col-md-1"></th>
                <th scope="col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            {% for property in properties %}
            <tr>
                <td><img class='img-table'  src="propertiesimg/{{property._id.toString()}}/{{property._id.toString()}}_0.png"/> </td>
                <td>{{ property.code }}</td>
                <td>{{ property.name }}</td>
                <td>{{ property.type }}</td>
                <td>{{ property.price }}</td>
                <td>
                    <a class="btn btn-warning float-right"
                       href="/properties/edit/{{ property._id.toString() }}"><span class="fas fa-edit"></span></a>
                </td>
                <td>
                    <a class="btn btn-success float-right"
                       href="/properties/details/{{ property._id.toString() }}"><span class="far fa-eye"></span></a>
                </td>
                <td>
                    <a class="btn btn-danger float-right"
                       href="/properties/delete/{{ property._id.toString() }}"><span class="fas fa-trash"></span></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <a href="/properties/add" role="button" class="btnSiguiente btn btn-success btn-lg btn-block">Agregar propiedad</a>
    </div>
</div>

{% endblock %}
