<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base.html" %} {% block titulo %} Agregar propiedad {% endblock %} {% block contenido_principal %}

<h2 class="sectionHeader">¿Qué tipo de propiedad desea añadir?</h2>
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
         aria-valuenow="0"
         aria-valuemin="0" aria-valuemax="100"></div>
</div>
<!-- FASE INICIAL ---------------------------------------------------------------------------------------------------------------------------------------------------->
<div id="divAddOptions">
    <a class="propAddLink row" id="displayVivienda">
        <div class="col-2 float-left">
            <img class='imgLogo' src="/img/icons/house.png" alt="logo"/>
        </div>
        <div class="col-9">
            <h3>Vivienda</h3>
            <p class="lead">Para ser habitado por personas.</p>
            <p>El más completo de todos. Desde esta opción podrás modificar una gran cantidad de campos.</p>
        </div>
    </a>
    <a class="propAddLink row" id="displayLocal">
        <div class="col-2 float-left">
            <img class='imgLogo' src="/img/icons/local.png" alt="logo"/>
        </div>
        <div class="col-9">
            <h3>Local</h3>
            <p class="lead">Para establecer o iniciar un comercio, instalación industrial etc.</p>
            <p>Preparado para trabajar con los campos más adecuados y con prestaciones específicas.</p>
        </div>
    </a>
    <a class="propAddLink row" id="displaySuelo">
        <div class="col-2 float-left">
            <img class='imgLogo' src="/img/icons/suelo.png" alt="logo"/>
        </div>
        <div class="col-9">
            <h3>Suelo</h3>
            <p class="lead">Para edificar o trabajar en el.</p>
            <p>El más sencillo, preparado con los datos necesarios para añadir todas las características.</p>
        </div>
    </a>
</div>

<!-- DATOS COMUNES --------------------------------------------------------------------------------------------------------------------------------------------------->
<div id="divAttCommon" style="display: none;">
    <div class="div-field form-row">
        <label class="control-label col-sm-12" for="type">Tipo:</label>
        <div>
            <select id='type' class="form-control" name="type" required="true">
                <option value="vivienda">Vivienda
                </option>
                <option value="local">Local
                </option>
                <option value="suelo">Suelo
                </option>
            </select>
        </div>
    </div>
    <div class="div-field form-row">
        <label class="control-label col-sm-2" for="name">Nombre:</label>
        <div class="col-sm-12">
            <input type="text" class="form-control" name="name" placeholder="Ej. Chalet con Piscina en el Centro"
                   required="true"/>
        </div>
    </div>
    <div id='divAddress' class="div-field form-row">
        <div class="form-group col-sm-9">
            <label class="control-label" for="address">Dirección (Solo Calle y Portal):</label>
            <div>
                <input id='address' type="text" class="form-control" name="address"
                       placeholder="Ej. Avenida/Portal/Escalera/Piso"
                       required="true"/>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="control-label" for="floor">Piso:</label>
            <div>
                <input type="number" class="form-control" name="floor" placeholder="Ej. 1" required="true"/>
            </div>
        </div>
    </div>
    <div id="errorMap" class="div-field form-row" style="display: none;">
        <div class="alert alert-danger col-md-12" role="alert">
            No se ha podido localizar la posición. Asegúrese de que la dirección es correcta.
        </div>
    </div>
    <div id="divMapContainer" style="display: none;">
        <div class="div-field form-row">
            <div id="divMapa" class="col-sm-12">
            </div>
        </div>
    </div>
    <div style="display: none;">
        <div class="div-field form-row">
            <div class="form-group col-sm-6">
                <label class="control-label" for="lattitude">Latitud:</label>
                <div>
                    <input id='latInput' type="number" class="form-control" name="lattitude" placeholder="Ej. 1000"
                           required="true"
                           disabled/>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label" for="longitude">Longitud:</label>
                <div>
                    <input id='lonInput' type="number" class="form-control" name="longitude" placeholder="Ej. 1000"
                           required="true"
                           disabled/>
                </div>
            </div>
        </div>
    </div>
    <div class="div-field form-row">
        <label class="control-label col-sm-2" for="description">Descripción:</label>
        <div class="col-sm-12">
            <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
    </div>
    <div class="div-field form-row">
        <label class="control-label col-sm-2" for="city">Población/Ciudad:</label>
        <div class="col-sm-12">
            <input type="text" class="form-control" name="city" placeholder="Ej. Oviedo" required="true"/>
        </div>
    </div>
</div>

<!-- DATOS DE VIVIENDA ----------------------------------------------------------------------------------------------------------------------------------------------->
<div id="divAttVivienda" style="display: none;">
    <div class="div-field form-row">
        <div class="form-group col-sm-2">
            <label class="control-label" for="area">Superficie (m2):</label>
            <div>
                <input type="number" class="form-control" name="area" placeholder="Ej. 100" required="true"/>
            </div>
        </div>
        <div class="form-group col-sm-2">
            <label class="control-label" for="numHabs">N. Habitaciones:</label>
            <div>
                <select id='numHabs' class="form-control" name="numHabs" required="true">
                    <option value="1">1
                    </option>
                    <option value="2">2
                    </option>
                    <option value="3">3
                    </option>
                    <option value="4">4 o mas
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group col-sm-2">
            <label class="control-label" for="numBan">N. Baños:</label>
            <div>
                <select id='numBan' class="form-control" name="numBan" required="true">
                    <option value="1">1
                    </option>
                    <option value="2">2
                    </option>
                    <option value="3">3
                    </option>
                    <option value="4">4 o mas
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="control-label" for="price">Precio (€):</label>
            <div>
                <input type="number" class="form-control" name="price" placeholder="Ej. 1000" required="true"/>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="control-label" for="priceCom">Gastos de Comunidad (€):</label>
            <div>
                <input type="number" class="form-control" name="priceCom" placeholder="Ej. 1000" required="true"/>
            </div>
        </div>
    </div>
    <div class="div-field form-row">
        <div class="form-check col-sm-2">
            <input type="checkbox" class="form-check-input" id="checkGaraje">
            <label class="form-check-label" for="checkGaraje">Garaje</label>
        </div>
        <div class="form-check col-sm-2">
            <input type="checkbox" class="form-check-input" id="checkPiscina">
            <label class="form-check-label" for="checkPiscina">Piscina</label>
        </div>
        <div class="form-check col-sm-2">
            <input type="checkbox" class="form-check-input" id="checkTerraza">
            <label class="form-check-label" for="checkTerraza">Terraza</label>
        </div>
        <div class="form-check col-sm-2">
            <input type="checkbox" class="form-check-input" id="checkTrastero">
            <label class="form-check-label" for="checkTrastero">Trastero</label>
        </div>
        <div class="form-check col-sm-2">
            <input type="checkbox" class="form-check-input" id="checkJardin">
            <label class="form-check-label" for="checkJardin">Jardín</label>
        </div>
        <div class="form-check col-sm-2">
            <input type="checkbox" class="form-check-input" id="checkAscensor">
            <label class="form-check-label" for="checkAscensor">Ascensor</label>
        </div>
    </div>
    <div class="div-field form-row">
        <div class="form-check col-sm-2">
            <input type="checkbox" class="form-check-input" id="checkCalefaccion">
            <label class="form-check-label" for="checkCalefaccion">Calefacción</label>
        </div>
        <div class="form-check col-sm-2">
            <input type="checkbox" class="form-check-input" id="checkAireAcon">
            <label class="form-check-label" for="checkAireAcon">Aire Acondicionado</label>
        </div>
        <div class="form-check col-sm-2">
            <input type="checkbox" class="form-check-input" id="checkAmueblado">
            <label class="form-check-label" for="checkAmueblado">Amueblado</label>
        </div>
        <div class="form-check col-sm-2">
            <input type="checkbox" class="form-check-input" id="checkAnimales">
            <label class="form-check-label" for="checkAnimales">Permite Animales</label>
        </div>
    </div>
</div>

<!-- DATOS DE LOCAL -------------------------------------------------------------------------------------------------------------------------------------------------->
<div id="divAttLocal" style="display: none;">
    <div class="div-field form-row">
        <div class="form-group col-sm-3">
            <label class="control-label" for="areaLoc">Superficie (m2):</label>
            <div>
                <input type="number" class="form-control" name="areaLoc" placeholder="Ej. 100" required="true"/>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="control-label" for="numAsLoc">N. Aseos:</label>
            <div>
                <select id='numAsLoc' class="form-control" name="numAsLoc" required="true">
                    <option value="1">1
                    </option>
                    <option value="2">2
                    </option>
                    <option value="3">3
                    </option>
                    <option value="4">4 o mas
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="control-label" for="priceLoc">Precio (€):</label>
            <div>
                <input type="number" class="form-control" name="priceLoc" placeholder="Ej. 1000" required="true"/>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="control-label" for="priceComLoc">Gastos de Comunidad (€):</label>
            <div>
                <input type="number" class="form-control" name="priceComLoc" placeholder="Ej. 1000" required="true"/>
            </div>
        </div>
    </div>
    <div class="div-field form-row">
        <div class="form-check col-sm-2">
            <input type="checkbox" class="form-check-input" id="checkEscaparateLoc">
            <label class="form-check-label" for="checkEscaparateLoc">Escaparate</label>
        </div>
        <div class="form-check col-sm-2">
            <input type="checkbox" class="form-check-input" id="checkAparcamientoLoc">
            <label class="form-check-label" for="checkAparcamientoLoc">Aparcamiento</label>
        </div>
        <div class="form-check col-sm-2">
            <input type="checkbox" class="form-check-input" id="checkCargaYDescargaLoc">
            <label class="form-check-label" for="checkCargaYDescargaLoc">Carga y Descarga</label>
        </div>
        <div class="form-check col-sm-2">
            <input type="checkbox" class="form-check-input" id="checkExtintoresLoc">
            <label class="form-check-label" for="checkExtintoresLoc">Extintores</label>
        </div>
        <div class="form-check col-sm-2">
            <input type="checkbox" class="form-check-input" id="checkIluminacionLoc">
            <label class="form-check-label" for="checkIluminacionLoc">Iuminación</label>
        </div>
    </div>
    <div class="div-field form-row">
        <div class="form-check col-sm-2">
            <input type="checkbox" class="form-check-input" id="checkCalefaccionLoc">
            <label class="form-check-label" for="checkCalefaccionLoc">Calefacción</label>
        </div>
        <div class="form-check col-sm-2">
            <input type="checkbox" class="form-check-input" id="checkAireAconLoc">
            <label class="form-check-label" for="checkAireAconLoc">Aire Acondicionado</label>
        </div>
    </div>
</div>

<!-- DATOS DE SUELO -------------------------------------------------------------------------------------------------------------------------------------------------->
<div id="divAttSuelo" style="display: none;">
    <div class="div-field form-row">
        <label class="control-label col-sm-2" for="situationSue">Situación:</label>
        <div class="col-sm-12">
            <input type="text" class="form-control" name="situationSue" placeholder="Ej. San Quintín"
                   required="true"/>
        </div>
    </div>
    <div class="div-field form-row">
        <div class="form-group col-sm-4">
            <label class="control-label" for="areaSue">Superficie Total (m2):</label>
            <div>
                <input type="number" class="form-control" name="areaSue" placeholder="Ej. 100" required="true"/>
            </div>
        </div>
        <div class="form-group col-sm-4">
            <label class="control-label" for="areaEdifSue">Superficie Edificable (m2):</label>
            <div>
                <input type="number" class="form-control" name="areaEdifSue" placeholder="Ej. 100" required="true"/>
            </div>
        </div>
        <div class="form-group col-sm-4">
            <label class="control-label" for="priceSue">Precio Total(€):</label>
            <div>
                <input type="number" class="form-control" name="priceSue" placeholder="Ej. 1000" required="true"/>
            </div>
        </div>
    </div>
    <div class="div-field form-row">
        <div class="form-check col-sm-3">
            <input type="checkbox" class="form-check-input" id="accesoAguaSue">
            <label class="form-check-label" for="accesoAguaSue">Acceso a Agua</label>
        </div>
        <div class="form-check col-sm-3">
            <input type="checkbox" class="form-check-input" id="accesoLuzSue">
            <label class="form-check-label" for="accesoLuzSue">Acceso a Luz</label>
        </div>
    </div>
</div>

<div id="divPropertiesButtons" style="display: none;">
    <div class="row">
        <button id="btnSuccess1" type="submit" class="btnSiguiente btn btn-success btn-lg btn-block">Siguiente</button>
    </div>
</div>

<!-- DATOS DE PROPIETARIO -------------------------------------------------------------------------------------------------------------------------------------------->
<div id="divOwner" style="display: none;">
    <div class="div-field form-row">
        <label class="control-label col-sm-2" for="nameOwner">Nombre:</label>
        <div class="col-sm-12">
            <input type="text" class="form-control" name="nameOwner" placeholder="Ej. Claudia"
                   required="true"/>
        </div>
    </div>
    <div class="div-field form-row">
        <label class="control-label col-sm-2" for="surnameOwner">Apellidos:</label>
        <div class="col-sm-12">
            <input type="text" class="form-control" name="surnameOwner" placeholder="Ej. Pérez Peláez"
                   required="true"/>
        </div>
    </div>
    <div class="div-field form-row">
        <div class="form-group col-sm-3">
            <label class="control-label" for="dniOwner">DNI/NIF/NIE:</label>
            <div>
                <input type="text" class="form-control" name="dniOwner" placeholder="Ej. 55555555E"
                       required="true"/>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="control-label" for="phoneOwner">Teléfono:</label>
            <div>
                <input type="number" class="form-control" name="phoneOwner" placeholder="Ej. 666666666"
                       required="true"/>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label" for="emailOwner">Correo Electrónico:</label>
            <div>
                <input type="email" class="form-control" name="emailOwner" placeholder="Ej. propietario@gmail.com"
                       required="true"/>
            </div>
        </div>
    </div>
    <div class="div-field form-row">
        <label class="control-label col-sm-2" for="addressOwner">Dirección:</label>
        <div class="col-sm-12">
            <input type="text" class="form-control" name="addressOwner" placeholder="Ej. C/ Uría 10, P-4D"
                   required="true"/>
        </div>
    </div>
    <div class="div-field form-row">
        <div class="col-sm-6">
            <button id="btnSuccess2A" type="submit" class="col-sm-6 btnSiguiente btn btn-secondary btn-lg ">
                Anterior
            </button>
        </div>
        <div class="col-sm-6">
            <button id="btnSuccess2" type="submit" class="col-sm-6 btnSiguiente btn btn-success btn-lg ">
                Siguiente
            </button>
        </div>
    </div>
</div>


<!-- CARGA DE IMAGENES ----------------------------------------------------------------------------------------------------------------------------------------------->
<div id="divPictures" style="display: none;">
    <div class="custom-file div-field form-row">
        <input id="elegirId" type="file" lang="es" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Seleccione archivos</label>
    </div>

    <div class="div-field form-row">
        <div class="col-sm-6">
            <button id="btnSuccess3A" type="submit" class="col-sm-6 btnSiguiente btn btn-secondary btn-lg ">
                Anterior
            </button>
        </div>
        <div class="col-sm-6">
            <button id="btnSuccess3" type="submit" class="col-sm-6 btnSiguiente btn btn-success btn-lg ">
                Siguiente
            </button>
        </div>
    </div>
</div>

<!-- SCRIPTS --------------------------------------------------------------------------------------------------------------------------------------------------------->
<script>
    let mapaLocal = null;
    let marker = null;

    // SALTO DE LA PRIMERA VISTA A LA SEGUNDA
    $('#displayVivienda').on('click', function () {
        phase1("vivienda")
    });
    $('#displayLocal').on('click', function () {
        phase1("local")
    });
    $('#displaySuelo').on('click', function () {
        phase1("suelo")
    });
    $("#type").change(function () {
        phase1($("#type").val());
    });

    $('#address').focusout(function () {
        writeMap($('#address').val());
    });

    $('#btnSuccess1').on('click', function () {
        phase2();
    });

    $('#btnSuccess2').on('click', function () {
        phase3();
    });

    $('#btnSuccess2A').on('click', function () {
        phase1($("#type").val());
    });

    $('#btnSuccess3A').on('click', function () {
        phase2();
    });

    function phase1(type) {
        $('#divAddOptions').hide();
        $('#divAttCommon').show();
        $('#divPropertiesButtons').show();
        $('#divAddress').show();

        $('#divAttVivienda').hide();
        $('#divAttLocal').hide();
        $('#divAttSuelo').hide();

        if (type == "vivienda")
            $('#divAttVivienda').show();
        if (type == "local")
            $('#divAttLocal').show();
        if (type == "suelo") {
            $('#divAttSuelo').show();
            $('#divAddress').hide();
        }

        $('#divOwner').hide();
        $('#divPictures').hide();

        $("#type").val(type);
        adjustProgressBar(25)
        setHeader("Rellene los Campos Indicados.");
    }

    function phase2() {
        $('#divAddOptions').hide();
        $('#divAttCommon').hide();

        $('#divAttVivienda').hide();
        $('#divAttLocal').hide();
        $('#divAttSuelo').hide();
        $('#divPropertiesButtons').hide();

        $('#divPictures').hide();

        $('#divOwner').show();
        adjustProgressBar(50)
        setHeader("Añada la información del propietario.");
    }

    function phase3() {
        $('#divAddOptions').hide();
        $('#divAttCommon').hide();

        $('#divAttVivienda').hide();
        $('#divAttLocal').hide();
        $('#divAttSuelo').hide();
        $('#divPropertiesButtons').hide();

        $('#divOwner').hide();

        $('#divPictures').show();
        adjustProgressBar(75)
        setHeader("Añada las imágenes que desee.");
    }

    function setHeader(textI) {
        $('.sectionHeader').text(textI);
    }

    function adjustProgressBar(value) {
        $('.progress-bar').css("width", value + "%").text(value + "%");
    }

    function writeMap(address) {
        $.get(location.protocol + '//nominatim.openstreetmap.org/search?format=json&q=' + address, function (data) {
            if (data[0] != undefined) {
                $('#divMapa').innerHTML = "";
                $('#divMapContainer').show();
                $('#errorMap').hide();
                let lattitude = data[0].lat;
                let longitude = data[0].lon;

                if (mapaLocal == null) {
                    mapaLocal = L.map('divMapa');
                } else {
                    mapaLocal.removeLayer(marker);
                }
                mapaLocal.setView([lattitude, longitude], 13);

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(mapaLocal);

                marker = L.marker([lattitude, longitude]);
                marker.addTo(mapaLocal);

                $('#latInput').val(lattitude);
                $('#lonInput').val(longitude);
            } else {
                $('#divMapContainer').hide();

                if ($('#address').val() != "")
                    $('#errorMap').show();
                else
                    $('#errorMap').hide();
            }
        });
    }
</script>

{% endblock %}
</body>
</html>