<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base.html" %}
{% block titulo %} Agencia Inmobiliaria RSTemp {% endblock %}
{% block contenido_principal %}
<!--Búsqueda-->
    <div id="custom-search-input ">
        <form method="get" action="/properties">
            <div class="input-group float-left">
                <input type="text" class="form-control" placeholder="Búsqueda"
                       name="search"/>
                <span class="input-group-btn">
                <button class="btn" type="submit">
                <span class="fas fa-search"></span>
                </button>
                </span>
            </div>
        </form>
    </div>

<h2>Propiedades</h2>
{% for property in properties %}
<a class="row" id="displayProperty" href="/properties/{{ property._id.toString() }}">
    <div class="col-3 float-left">
        <img class='imgLogo' src="propertiesimg/{{ property._id.toString() }}.png" alt="logo"/>
    </div>
    <div class="col-9">
        <h3>{{ property.name }}</h3>
        <div class="small">Propietario: {{ property.owner }}</div>
        <h4 class="float-right">Precio: {{ property.price }} €</h4>
    </div>
</a>
{% endfor%}

<!--Paginaciónmostrarlaactual y 2 anterioresy dossiguientes-->
<div class="row text-center">
    <ul class="pagination">
        {% for page in pages %}
        <li class="page-item" id="pi-{{page}}">
            <a class="page-link" href="/properties?pg={{page}}">{{page}}</a>
        </li>
        {% endfor %}
        <script>
            $("#pi-{{actual}}").addClass("active");
        </script>
    </ul>
</div>


{% endblock %}
</body>
</html>