{% extends "../base.html" %}
{% block titulo %} ARCA Inmobiliaria {% endblock %}
{% block contenido_principal %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Contacto</li>
    </ol>
</nav>
<div class="container">
    <h2 class="sectionHeader">Ayuda sobre el Sistema</h2>
    <p>Si necesita ayuda respecto al manejo del sistema, puede ponerse en contacto con un agente desde la seccion <a
            href="/info/contact">Contacto</a></p>
    <p>Si desea conocer más sobre el sistema y su manejo, puede descargar su manual personalizado haciendo click
        {% if user == null %}
        <a href="https://unioviedo-my.sharepoint.com/:w:/g/personal/uo257386_uniovi_es/EbRtgOrJkHJDithQhQw_aNgB9gd-ro5kDNZ0bQ0CtMzrLQ?e=wqfjaq">Aquí</a>
        {% else %}
        {% if user.permission == 'U' %}
        <a href="https://unioviedo-my.sharepoint.com/:w:/g/personal/uo257386_uniovi_es/ETUD7kGpJ45DuqqwcgvxE2MBu_V8c54huCJ7JwBewX8kLw?e=F9va62">Aquí</a>
        {% endif %}
        {% if user.permission == 'A' %}
        <a href="https://unioviedo-my.sharepoint.com/:w:/g/personal/uo257386_uniovi_es/EaudJwmohm9CgDKqqodN1_MBBzuT_prsGmCzGIYu9PFXqQ?e=pRyQnU">Aquí</a>
        {% endif %}
        {% if user.permission == 'S' %}
        <a href="https://unioviedo-my.sharepoint.com/:w:/g/personal/uo257386_uniovi_es/EaJ_SrQgldRMpzdi_JcF70EBfiVb7aUYTbHNu3vX9C_0bA?e=B3z7QZ">Aquí</a>
        {% endif %}
        {% endif %}
    </p>
</div>
