{% extends "../base.html" %}
{% block titulo %} ARCA Inmobiliaria {% endblock %}
{% block contenido_principal %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Contacto</li>
    </ol>
</nav>
<div class="container">
    <h2 class="sectionHeader">Ayuda sobre el Sistema</h2>
    <p>Si necesita ayuda respecto al manejo del sistema, puede ponerse en contacto con un agente desde la seccion <a
            href="/info/contact">Contacto</a></p>
    <p>Si desea conocer más sobre el sistema y su manejo, puede descargar su manual personalizado haciendo click
        {% if user == null %}
        <a href="">Aquí</a>
        {% else %}
        {% if user.permission == 'U' %}
        <a href="">Aquí</a>
        {% endif %}
        {% if user.permission == 'A' %}
        <a href="">Aquí</a>
        {% endif %}
        {% if user.permission == 'S' %}
        <a href="">Aquí</a>
        {% endif %}
        {% endif %}
    </p>
</div>
