{% extends "../base.html" %}
{% block titulo %} ARCA Inmobiliaria {% endblock %}
{% block contenido_principal %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="breadcrumb-custom" href="/">Inicio</a></li>
        <li class="breadcrumb-item active breadcrumb-custom" aria-current="page">Contacto</li>
    </ol>
</nav>
<div class="container">
    <h1 class="sectionHeader">Información de Contacto</h1>
    <p>Si desea contactar con nosotros, le ofrecemos tres formas diferentes de hacerlo:</p>
    <ul class="listaInfo">
        <li>Si el motivo de su contacto es la necesidad de información o tiene alguna duda respecto a alguna de las
            propiedades ofertadas,
            puede utilizar el propio chat del sistema. Para ello:
            <ol>
                <li>Inicie sesión con su cuenta. Si no posee una cuenta, cree una primero.</li>
                <li>Haga click en el botón "Contactar", junto al icono de un correo, debajo de la propiedad sobre la
                    cual desea información. Se abrirá su conversación.
                </li>
                <li>Rellene el campo con su mensaje y presione el botón "Enviar". Un agente le responderá lo antes
                    posible.
                </li>
                <li>Puede acceder en cualquier momento a esa conversación desde la sección "Mensajes".</li>
            </ol>
        <li>Si su duda es de otro tipo, o simplemente desea comunicarse con un agente sin necesidad de crearse una
            cuenta, puede hacerlo de cualquiera de estas maneras:
            <ul>
                <li>Llame a estos números de teléfono: <span class="font-weight-bold">{{info.phones}}</span></li>
                <li>Envíe un correo a cualquiera de éstas direcciones: <span class="font-weight-bold">{{info.emails}}</span>
                </li>
            </ul>
        </li>
        </li>
    </ul>

    {% if user.permission == 'S' %}
    <div class="headerButtonOverview card-header">
        <h2 class="mb-0">
            <button id="btnEditarContacto" type="button" class="buttonOverview btn custom-base-style" data-toggle="collapse"
                    data-target="#editInfo"
                    aria-expanded="false" aria-controls="propertyFilter">
                <span class="fas fa-search"></span><span class="font-weight-bold">Editar Info de Contacto</span>
            </button>
        </h2>
    </div>
    <div id="editInfo" class="collapse" data-parent="#accordion">
        <div class="filter-collapse card-body">
            <form class="form-horizontal" method="post" action="/info/contact/edit">
                <div class="div-field form-row">
                    <label class="control-label" for="phones">Números de Teléfono, separados por comas:</label>
                    <div class="col-sm-12">
                    <textarea class="form-control" id="phones" name="phones" maxlength="255"
                              rows="3"></textarea>
                    </div>
                </div>
                <div class="div-field form-row">
                    <label class="control-label" for="emails">E-Mails, separados por comas:</label>
                    <div class="col-sm-12">
                    <textarea class="form-control" id="emails" name="emails" maxlength="255"
                              rows="3"></textarea>
                    </div>
                </div>
                <div class="row">
                    <button id="btnContactoGuardarCambios" type="submit" class="btnSiguiente btn btn-success btn-lg btn-block">
                        Guardar Cambios
                    </button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
</div>
