{% extends "../base.html" %}
{% block titulo %} ARCA Inmobiliaria{% endblock %}
{% block contenido_principal %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="breadcrumb-custom" href="/">Inicio</a></li>
        <li class="breadcrumb-item active breadcrumb-custom" aria-current="page">Propiedades</li>
    </ol>
</nav>

<div class="container">
    <h1 class="sectionHeader">Propiedades Disponibles</h1>

    <div class="headerButtonOverview card-header">
        <h5 class="mb-0">
            <button id="btnExpandFilter" type="button" class="buttonOverview btn custom-base-style" data-toggle="collapse"
                    data-target="#propertyFilter"
                    aria-expanded="false" aria-controls="propertyFilter">
                <span class="fas fa-search"></span><span class="font-weight-bold">Filtro de Propiedades</span>
            </button>
        </h5>
    </div>
    <div id="propertyFilter" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="filter-collapse card-body">
            <form class="form-horizontal" method="get" action="/properties/{{typeProp}}">
                <div class="form-row">
                    <div class="form-group col-3">
                        <label class="control-label" for="typeOp">Tipo de Operación:</label>
                        <div>
                            <select id='typeOp' class="form-control" name="typeOp">
                                <option selected value="">Cualquiera</option>
                                <option value="Venta">Venta
                                </option>
                                <option value="Alquiler">Alquiler
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-9">
                        <label class="control-label">Nombre:</label>
                        <div>
                            <input type="text" class="form-control" name="name"
                                   placeholder="Ej. Chalet con Piscina en el Centro"/>
                        </div>
                    </div>
                </div>
                {% if typeProp == "vivienda"%}
                <div class=" form-row">
                    <div class="form-group col-4">
                        <label class="control-label" for="address">Dirección (Solo Calle y Portal):</label>
                        <div>
                            <input id='address' type="text" class="form-control" name="address"
                                   placeholder="Ej. Avenida/Portal/Escalera/Piso"/>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label class="control-label" for="city">Población/Ciudad:</label>
                        <div>
                            <input id='city' type="text" class="form-control" name="city"
                                   placeholder="Ej. Oviedo"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <label class="control-label">Piso Mínimo:</label>
                        <div>
                            <input type="number" class="form-control" name="floorMin" placeholder="Ej. 1"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <label class="control-label">Piso Máximo:</label>
                        <div>
                            <input type="number" class="form-control" name="floorMax" placeholder="Ej. 1"/>
                        </div>
                    </div>
                </div>
                <div class=" form-row">
                    <div class="form-group col-sm-2">
                        <label class="control-label">Superf. Mín.(m²):</label>
                        <div>
                            <input type="number" class="form-control" name="areaMin" placeholder="Ej. 1"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <label class="control-label">Superf. Max.(m²):</label>
                        <div>
                            <input type="number" class="form-control" name="areaMax" placeholder="Ej. 1"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <label class="control-label" for="numHabs">N. Habitaciones:</label>
                        <div>
                            <select id='numHabs' class="form-control" name="numHabs">
                                <option value="">Cualquiera
                                </option>
                                <option value="1">1
                                </option>
                                <option value="2">2
                                </option>
                                <option value="3">3
                                </option>
                                <option value="4">4 o mas
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <label class="control-label" for="numBan">N. Baños:</label>
                        <div>
                            <select id='numBan' class="form-control" name="numBan">
                                <option value="">Cualquiera
                                </option>
                                <option value="1">1
                                </option>
                                <option value="2">2
                                </option>
                                <option value="3">3
                                </option>
                                <option value="4">4 o mas
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <label class="control-label" for="priceMax">Precio Máximo:</label>
                        <div>
                            <input id='priceMax' type="text" class="form-control" name="priceMax"
                                   placeholder="Ej. 1000"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <label class="control-label" for="priceMin">Precio Mínimo:</label>
                        <div>
                            <input id='priceMin' type="text" class="form-control" name="priceMin"
                                   placeholder="Ej. 100"/>
                        </div>
                    </div>
                </div>
                <div class=" form-row">
                    <div class="form-check col-sm-2">
                        <input type="checkbox" class="form-check-input" name="checkGaraje">
                        <label class="form-check-label">Garaje</label>
                    </div>
                    <div class="form-check col-sm-2">
                        <input type="checkbox" class="form-check-input" name="checkPiscina">
                        <label class="form-check-label">Piscina</label>
                    </div>
                    <div class="form-check col-sm-2">
                        <input type="checkbox" class="form-check-input" name="checkTerraza">
                        <label class="form-check-label">Terraza</label>
                    </div>
                    <div class="form-check col-sm-2">
                        <input type="checkbox" class="form-check-input" name="checkTrastero">
                        <label class="form-check-label">Trastero</label>
                    </div>
                    <div class="form-check col-sm-2">
                        <input type="checkbox" class="form-check-input" name="checkJardin">
                        <label class="form-check-label">Jardín</label>
                    </div>
                    <div class="form-check col-sm-2">
                        <input type="checkbox" class="form-check-input" name="checkAscensor">
                        <label class="form-check-label">Ascensor</label>
                    </div>
                </div>
                <div class=" form-row">
                    <div class="form-check col-sm-2">
                        <input type="checkbox" class="form-check-input" name="checkCalefaccion">
                        <label class="form-check-label">Calefacción</label>
                    </div>
                    <div class="form-check col-sm-2">
                        <input type="checkbox" class="form-check-input" name="checkAmueblado">
                        <label class="form-check-label">Amueblado</label>
                    </div>
                    <div class="form-check col-sm-2">
                        <input type="checkbox" class="form-check-input" name="checkAnimales">
                        <label class="form-check-label">Permite Animales</label>
                    </div>
                    <div class="form-check col-sm-3">
                        <input type="checkbox" class="form-check-input" name="checkAireAcon">
                        <label class="form-check-label">Aire Acondicionado</label>
                    </div>
                </div>
                {% endif %}
                {% if typeProp == "local"%}
                <div class=" form-row">
                    <div class="form-group col-6">
                        <label class="control-label" for="addressLoc">Dirección (Solo Calle y Portal):</label>
                        <div>
                            <input id='addressLoc' type="text" class="form-control" name="addressLoc"
                                   placeholder="Ej. Avenida/Portal/Escalera/Piso"/>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label class="control-label" for="cityLoc">Población/Ciudad:</label>
                        <div>
                            <input id='cityLoc' type="text" class="form-control" name="cityLoc"
                                   placeholder="Ej. Oviedo"/>
                        </div>
                    </div>
                </div>
                <div class=" form-row">
                    <div class="form-group col-sm-3">
                        <label class="control-label">Superf. Mín. (m²):</label>
                        <div>
                            <input type="number" class="form-control" name="areaMinLoc" placeholder="Ej. 1"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label">Superf. Max. (m²):</label>
                        <div>
                            <input type="number" class="form-control" name="areaMaxLoc" placeholder="Ej. 1"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label">Piso Mínimo:</label>
                        <div>
                            <input type="number" class="form-control" name="floorMinLoc" placeholder="Ej. 1"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label">Piso Máximo:</label>
                        <div>
                            <input type="number" class="form-control" name="floorMaxLoc" placeholder="Ej. 1"/>
                        </div>
                    </div>
                </div>
                <div class=" form-row">
                    <div class="form-group col-sm-4">
                        <label class="control-label" for="numAseosLoc">N. Aseos:</label>
                        <div>
                            <select id='numAseosLoc' class="form-control" name="numAseosLoc">
                                <option value="">Cualquiera
                                </option>
                                <option value="1">1
                                </option>
                                <option value="2">2
                                </option>
                                <option value="3">3
                                </option>
                                <option value="4">4 o mas
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="control-label">Precio Mínimo:</label>
                        <div>
                            <input type="number" class="form-control" name="priceMinLoc" placeholder="Ej. 1"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="control-label">Precio Máximo:</label>
                        <div>
                            <input type="number" class="form-control" name="priceMaxLoc" placeholder="Ej. 1"/>
                        </div>
                    </div>
                </div>
                <div class=" form-row">
                    <div class="form-check col-sm-3">
                        <input type="checkbox" class="form-check-input" name="checkEscaparateLoc">
                        <label class="form-check-label">Escaparate</label>
                    </div>
                    <div class="form-check col-sm-3">
                        <input type="checkbox" class="form-check-input" name="checkAparcamientoLoc">
                        <label class="form-check-label">Aparcamiento</label>
                    </div>
                    <div class="form-check col-sm-3">
                        <input type="checkbox" class="form-check-input" name="checkIluminacionLoc">
                        <label class="form-check-label">Iluminación</label>
                    </div>
                    <div class="form-check col-sm-3">
                        <input type="checkbox" class="form-check-input" name="checkExtintoresLoc">
                        <label class="form-check-label">Extintores</label>
                    </div>
                </div>
                <div class=" form-row">
                    <div class="form-check col-sm-3">
                        <input type="checkbox" class="form-check-input" name="checkCargaYDescargaLoc">
                        <label class="form-check-label">Carga Y Descarga</label>
                    </div>
                    <div class="form-check col-sm-3">
                        <input type="checkbox" class="form-check-input" name="checkCalefaccionLoc">
                        <label class="form-check-label">Calefacción</label>
                    </div>
                    <div class="form-check col-sm-3">
                        <input type="checkbox" class="form-check-input" name="checkAireAconLoc">
                        <label class="form-check-label">Aire Acondicionado</label>
                    </div>
                </div>
                {% endif %}
                {% if typeProp == "suelo"%}
                <div class=" form-row">
                    <div class="form-group col-3">
                        <label class="control-label" for="citySue">Población/Ciudad:</label>
                        <div>
                            <input id='citySue' type="text" class="form-control" name="citySue"
                                   placeholder="Ej. Oviedo"/>
                        </div>
                    </div>
                    <div class="form-group col-3">
                        <label class="control-label" for="situationSue">Situación:</label>
                        <div>
                            <input id='situationSue' type="text" class="form-control" name="situationSue"
                                   placeholder="Ej. San Quintín"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label" for="priceMaxSue">Precio Máximo:</label>
                        <div>
                            <input id='priceMaxSue' type="text" class="form-control" name="priceMaxSue"
                                   placeholder="Ej. 1000"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label" for="priceMinSue">Precio Mínimo:</label>
                        <div>
                            <input id='priceMinSue' type="text" class="form-control" name="priceMinSue"
                                   placeholder="Ej. 100"/>
                        </div>
                    </div>
                </div>
                <div class=" form-row">
                    <div class="form-group col-sm-3">
                        <label class="control-label">Superf. Mín.(m²):</label>
                        <div>
                            <input type="number" class="form-control" name="areaMinSue" placeholder="Ej. 1"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label">Superf. Max.(m²):</label>
                        <div>
                            <input type="number" class="form-control" name="areaMaxSue" placeholder="Ej. 1"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label">Superf. Edif. Mín.(m²):</label>
                        <div>
                            <input type="number" class="form-control" name="areaEdifMinSue" placeholder="Ej. 1"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label">Superf. Edif. Max.(m²):</label>
                        <div>
                            <input type="number" class="form-control" name="areaEdifMaxSue" placeholder="Ej. 1"/>
                        </div>
                    </div>
                </div>
                <div class=" form-row">
                    <div class="form-check col-sm-3">
                        <input type="checkbox" class="form-check-input" name="checkAccesoAguaSue">
                        <label class="form-check-label">Acceso a Agua</label>
                    </div>
                    <div class="form-check col-sm-3">
                        <input type="checkbox" class="form-check-input" name="checkAccesoLuzSue">
                        <label class="form-check-label">Acceso a Luz</label>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <button id="btnAplicarFiltros" type="submit" class="btnSiguiente btn btn-dark btn-lg btn-block">
                        Aplicar Filtros
                    </button>
                </div>
            </form>
        </div>
    </div>

    {% for property in properties %}
    <div class="displayDiv row">
        <div class="col-3">
            <img class='imgLogo' src="/propertiesimg/{{ property._id.toString() }}/{{ property._id.toString() }}_0.png" alt="Imagen de la propiedad"/>
        </div>
        <div class="col-9">
            <a class="displayProperty" id="displayProperty" href="/properties/details/{{ property._id.toString() }}">
                <div class="d-inline">
                    {% if property.type == 'vivienda' %}
                    <span class="badge badge-primary">Vivienda</span>
                    {%endif%}
                    {% if property.type == 'local' %}
                    <span class="badge badge-secondary">Local</span>
                    {%endif%}
                    {% if property.type == 'suelo' %}
                    <span class="badge badge-dark">Suelo</span>
                    {%endif%}
                    {% if property.typeOp == 'Venta' %}
                    <span class="badge badge-info">Venta</span>
                    {%endif%}

                    {% if property.typeOp == 'Alquiler' %}
                    <span class="badge badge-success">Alquiler</span>
                    {%endif%}
                </div>

                <div class="row">
                    <h4>{{ property.name }}</h4>
                </div>
                <div class="row">
                    {% if property.type == 'vivienda' %}
                    <p> En {{property.address}} , {{property.city}} - {{property.area}}
                        m²</p>
                    {%endif%}
                    {% if property.type == 'local' %}
                    <p> En {{property.address}} , {{property.city}} - {{property.area}}
                        m²</p>
                    {%endif%}

                    {% if property.type == 'suelo' %}
                    <p class="text-capitalize">{{property.type}} en {{property.city}} - {{property.area}} m²
                        ({{property.edifArea}}
                        edificables)</p>
                    {%endif%}
                </div>
                <div class="row">
                    <p class="truncate">{{property.description}}</p>
                </div>
                <div class="row float-right">
                    <h5 class="displayPrice">Precio: {{ property.price }} €</h5>
                </div>
            </a>
            {% if user.permission == 'U' %}
            <div class="row">
                <a type="button" class="centeredComponent btn btn-info"
                   href="/conversations/add/{{ property._id.toString() }}">Contactar <span
                        class="fas fa-comment-dots"></span></a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor%}

    <!--Paginaciónmostrarlaactual y 2 anterioresy dossiguientes-->
    <div class="row text-center">
        <ul class="pagination">
            {% for page in pages %}
            <li class="page-item" id="pi-{{page}}">
                {% if url.includes('?') %}
                <a class="page-link" href="{{url}}&pg={{page}}">{{page}}</a>
                {% else %}
                <a class="page-link" href="{{url}}?pg={{page}}">{{page}}</a>
                {% endif %}
            </li>
            {% endfor %}
            <script>
                $("#pi-{{actual}}").addClass("active");
            </script>
        </ul>
    </div>

</div>

{% endblock %}