{% extends "../base.html" %}
{% block titulo %} ARCA Inmobiliaria{% endblock %}
{% block contenido_principal %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="breadcrumb-custom" href="/">Inicio</a></li>
        <li class="breadcrumb-item active breadcrumb-custom" aria-current="page">Inmuebles</li>
    </ol>
</nav>

<div class="container">
    <h1 class="sectionHeader">Inmuebles Disponibles</h1>

    {% if properties.length == 0 %}
        <h2 class="sectionHeader">En este momento no hay inmuebles disponibles. Vuelva a intentarlo más tarde.</h2>
    {% else %}

    <div class="headerButtonOverview card-header">
        <h2 class="mb-0">
            <button id="btnExpandFilter" type="button" class="buttonOverview btn custom-base-style" data-toggle="collapse"
                    data-target="#propertyFilter"
                    aria-expanded="false" aria-controls="propertyFilter">
                <span class="fas fa-search"></span><span class="font-weight-bold">Filtro de Inmuebles</span>
            </button>
        </h2>
    </div>
    <div id="propertyFilter" class="collapse"  data-parent="#accordion">
        <div class="filter-collapse card-body">
            <form class="form-horizontal" method="get" action="/properties/{{typeProp}}">
                <div class="form-row">
                    <div class="form-group col-3">
                        <label class="control-label" for="typeOp">Tipo de Operación:</label>
                        <div>
                            <select id='typeOp' class="form-control" name="typeOp">
                                <option selected value="">Cualquiera</option>
                                <option value="Venta">Venta
                                </option>
                                <option value="Alquiler">Alquiler
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-9">
                        <label class="control-label" for="name">Nombre:</label>
                        <div>
                            <input type="text" class="form-control" id="name" name="name"
                                   placeholder="Ej. Chalet con Piscina en el Centro"/>
                        </div>
                    </div>
                </div>
                {% if typeProp == "vivienda"%}
                <div class=" form-row">
                    <div class="form-group col-4">
                        <label class="control-label" for="address">Dirección (Solo Calle y Portal):</label>
                        <div>
                            <input id='address' type="text" class="form-control" id="address" name="address"
                                   placeholder="Ej. Avenida/Portal/Escalera/Piso"/>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label class="control-label" for="city">Población/Ciudad:</label>
                        <div>
                            <input id='city' type="text" class="form-control" id="city" name="city"
                                   placeholder="Ej. Oviedo"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <label class="control-label"  for="floorMin">Piso Mínimo:</label>
                        <div>
                            <input type="number" class="form-control" id="floorMin" name="floorMin" placeholder="Ej. 1"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <label class="control-label" for="floorMax">Piso Máximo:</label>
                        <div>
                            <input type="number" class="form-control" id="floorMax" name="floorMax" placeholder="Ej. 1"/>
                        </div>
                    </div>
                </div>
                <div class=" form-row">
                    <div class="form-group col-sm-2">
                        <label class="control-label" for="areaMin">Superf. Mín.(m²):</label>
                        <div>
                            <input type="number" class="form-control" id="areaMin" name="areaMin" placeholder="Ej. 1"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <label class="control-label" for="areaMax">Superf. Max.(m²):</label>
                        <div>
                            <input type="number" class="form-control" id="areaMax" name="areaMax" placeholder="Ej. 1"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <label class="control-label" for="numHabs">N. Habitaciones:</label>
                        <div>
                            <select id='numHabs' class="form-control" name="numHabs">
                                <option value="">Cualquiera
                                </option>
                                <option value="1">1
                                </option>
                                <option value="2">2
                                </option>
                                <option value="3">3
                                </option>
                                <option value="4">4 o mas
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <label class="control-label" for="numBan">N. Baños:</label>
                        <div>
                            <select id='numBan' class="form-control" name="numBan">
                                <option value="">Cualquiera
                                </option>
                                <option value="1">1
                                </option>
                                <option value="2">2
                                </option>
                                <option value="3">3
                                </option>
                                <option value="4">4 o mas
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <label class="control-label" for="priceMax">Precio Máximo:</label>
                        <div>
                            <input id='priceMax' type="text" class="form-control" id="priceMax" name="priceMax"
                                   placeholder="Ej. 1000"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <label class="control-label" for="priceMin">Precio Mínimo:</label>
                        <div>
                            <input id='priceMin' type="text" class="form-control" id="priceMin"name="priceMin"
                                   placeholder="Ej. 100"/>
                        </div>
                    </div>
                </div>
                <div class=" form-row">
                    <div class="form-check col-sm-2">
                        <input type="checkbox" class="form-check-input" id="checkGaraje" name="checkGaraje">
                        <label class="form-check-label" for="checkGaraje">Garaje</label>
                    </div>
                    <div class="form-check col-sm-2">
                        <input type="checkbox" class="form-check-input" id="checkPiscina" name="checkPiscina">
                        <label class="form-check-label" for="checkPiscina">Piscina</label>
                    </div>
                    <div class="form-check col-sm-2">
                        <input type="checkbox" class="form-check-input" id="checkTerraza" name="checkTerraza">
                        <label class="form-check-label" for="checkTerraza">Terraza</label>
                    </div>
                    <div class="form-check col-sm-2">
                        <input type="checkbox" class="form-check-input" id="checkTrastero" name="checkTrastero">
                        <label class="form-check-label" for="checkTrastero">Trastero</label>
                    </div>
                    <div class="form-check col-sm-2">
                        <input type="checkbox" class="form-check-input" id="checkJardin" name="checkJardin">
                        <label class="form-check-label" for="checkJardin">Jardín</label>
                    </div>
                    <div class="form-check col-sm-2">
                        <input type="checkbox" class="form-check-input" id="checkAscensor" name="checkAscensor">
                        <label class="form-check-label" for="checkAscensor">Ascensor</label>
                    </div>
                </div>
                <div class=" form-row">
                    <div class="form-check col-sm-2">
                        <input type="checkbox" class="form-check-input" id="checkCalefaccion" name="checkCalefaccion">
                        <label class="form-check-label" for="checkCalefaccion">Calefacción</label>
                    </div>
                    <div class="form-check col-sm-2">
                        <input type="checkbox" class="form-check-input" id="checkAmueblado" name="checkAmueblado">
                        <label class="form-check-label" for="checkAmueblado">Amueblado</label>
                    </div>
                    <div class="form-check col-sm-2">
                        <input type="checkbox" class="form-check-input" id="checkAnimales" name="checkAnimales">
                        <label class="form-check-label" for="checkAnimales">Permite Animales</label>
                    </div>
                    <div class="form-check col-sm-3">
                        <input type="checkbox" class="form-check-input" id="checkAireAcon" name="checkAireAcon">
                        <label class="form-check-label" for="checkAireAcon">Aire Acondicionado</label>
                    </div>
                </div>
                {% endif %}
                {% if typeProp == "local"%}
                <div class=" form-row">
                    <div class="form-group col-6">
                        <label class="control-label" for="addressLoc">Dirección (Solo Calle y Portal):</label>
                        <div>
                            <input id='addressLoc' type="text" class="form-control" id="addressLoc" name="addressLoc"
                                   placeholder="Ej. Avenida/Portal/Escalera/Piso"/>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label class="control-label" for="cityLoc">Población/Ciudad:</label>
                        <div>
                            <input id='cityLoc' type="text" class="form-control"  name="cityLoc"
                                   placeholder="Ej. Oviedo"/>
                        </div>
                    </div>
                </div>
                <div class=" form-row">
                    <div class="form-group col-sm-3">
                        <label class="control-label" for="areaMinLoc">Superf. Mín. (m²):</label>
                        <div>
                            <input type="number" class="form-control" id="areaMinLoc" name="areaMinLoc" placeholder="Ej. 1"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label" for="areaMaxLoc">Superf. Max. (m²):</label>
                        <div>
                            <input type="number" class="form-control" id="areaMaxLoc" name="areaMaxLoc" placeholder="Ej. 1"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label" for="floorMinLoc">Piso Mínimo:</label>
                        <div>
                            <input type="number" class="form-control" id="floorMinLoc" name="floorMinLoc" placeholder="Ej. 1"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label" for="floorMaxLoc">Piso Máximo:</label>
                        <div>
                            <input type="number" class="form-control" id="floorMaxLoc" name="floorMaxLoc" placeholder="Ej. 1"/>
                        </div>
                    </div>
                </div>
                <div class=" form-row">
                    <div class="form-group col-sm-4">
                        <label class="control-label" for="numAseosLoc">N. Aseos:</label>
                        <div>
                            <select id='numAseosLoc' class="form-control" name="numAseosLoc">
                                <option value="">Cualquiera
                                </option>
                                <option value="1">1
                                </option>
                                <option value="2">2
                                </option>
                                <option value="3">3
                                </option>
                                <option value="4">4 o mas
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="control-label" for="priceMinLoc">Precio Mínimo:</label>
                        <div>
                            <input type="number" class="form-control" id="priceMinLoc" name="priceMinLoc" placeholder="Ej. 1"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="control-label" for="priceMaxLoc">Precio Máximo:</label>
                        <div>
                            <input type="number" class="form-control" id="priceMaxLoc" name="priceMaxLoc" placeholder="Ej. 1"/>
                        </div>
                    </div>
                </div>
                <div class=" form-row">
                    <div class="form-check col-sm-3">
                        <input type="checkbox" class="form-check-input" id="checkEscaparateLoc" name="checkEscaparateLoc">
                        <label class="form-check-label" for="checkEscaparateLoc">Escaparate</label>
                    </div>
                    <div class="form-check col-sm-3">
                        <input type="checkbox" class="form-check-input" id="checkAparcamientoLoc" name="checkAparcamientoLoc">
                        <label class="form-check-label" for="checkAparcamientoLoc" >Aparcamiento</label>
                    </div>
                    <div class="form-check col-sm-3">
                        <input type="checkbox" class="form-check-input" id="checkIluminacionLoc" name="checkIluminacionLoc">
                        <label class="form-check-label" for="checkIluminacionLoc">Iluminación</label>
                    </div>
                    <div class="form-check col-sm-3">
                        <input type="checkbox" class="form-check-input" id="checkExtintoresLoc" name="checkExtintoresLoc">
                        <label class="form-check-label" for="checkExtintoresLoc">Extintores</label>
                    </div>
                </div>
                <div class=" form-row">
                    <div class="form-check col-sm-3">
                        <input type="checkbox" class="form-check-input" id="checkCargaYDescargaLoc" name="checkCargaYDescargaLoc">
                        <label class="form-check-label" for="checkCargaYDescargaLoc">Carga Y Descarga</label>
                    </div>
                    <div class="form-check col-sm-3">
                        <input type="checkbox" class="form-check-input" id="checkCalefaccionLoc" name="checkCalefaccionLoc">
                        <label class="form-check-label" for="checkCalefaccionLoc">Calefacción</label>
                    </div>
                    <div class="form-check col-sm-3">
                        <input type="checkbox" class="form-check-input" id="checkAireAconLoc" name="checkAireAconLoc">
                        <label class="form-check-label" for="checkAireAconLoc">Aire Acondicionado</label>
                    </div>
                </div>
                {% endif %}
                {% if typeProp == "suelo"%}
                <div class=" form-row">
                    <div class="form-group col-3">
                        <label class="control-label" for="citySue">Población/Ciudad:</label>
                        <div>
                            <input id='citySue' type="text" class="form-control" name="citySue"
                                   placeholder="Ej. Oviedo"/>
                        </div>
                    </div>
                    <div class="form-group col-3">
                        <label class="control-label" for="situationSue">Situación:</label>
                        <div>
                            <input id='situationSue' type="text" class="form-control" name="situationSue"
                                   placeholder="Ej. San Quintín"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label" for="priceMaxSue">Precio Máximo:</label>
                        <div>
                            <input id='priceMaxSue' type="text" class="form-control" name="priceMaxSue"
                                   placeholder="Ej. 1000"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label" for="priceMinSue">Precio Mínimo:</label>
                        <div>
                            <input id='priceMinSue' type="text" class="form-control" name="priceMinSue"
                                   placeholder="Ej. 100"/>
                        </div>
                    </div>
                </div>
                <div class=" form-row">
                    <div class="form-group col-sm-3">
                        <label class="control-label" for="areaMinSue">Superf. Mín.(m²):</label>
                        <div>
                            <input type="number" class="form-control" id="areaMinSue" name="areaMinSue" placeholder="Ej. 1"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label" for="areaMaxSue">Superf. Max.(m²):</label>
                        <div>
                            <input type="number" class="form-control" id="areaMaxSue" name="areaMaxSue" placeholder="Ej. 1"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label" for="areaEdifMinSue">Superf. Edif. Mín.(m²):</label>
                        <div>
                            <input type="number" id="areaEdifMinSue" class="form-control" name="areaEdifMinSue" placeholder="Ej. 1"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label" for="areaEdifMaxSue">Superf. Edif. Max.(m²):</label>
                        <div>
                            <input type="number" class="form-control" id="areaEdifMaxSue" name="areaEdifMaxSue" placeholder="Ej. 1"/>
                        </div>
                    </div>
                </div>
                <div class=" form-row">
                    <div class="form-check col-sm-3">
                        <input type="checkbox" class="form-check-input" id="checkAccesoAguaSue" name="checkAccesoAguaSue">
                        <label class="form-check-label" for="checkAccesoAguaSue">Acceso a Agua</label>
                    </div>
                    <div class="form-check col-sm-3">
                        <input type="checkbox" class="form-check-input" id="checkAccesoLuzSue"  name="checkAccesoLuzSue">
                        <label class="form-check-label" for="checkAccesoLuzSue">Acceso a Luz</label>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <button id="btnAplicarFiltros" type="submit" class="btnSiguiente btn btn-dark btn-lg btn-block">
                        Aplicar Filtros
                    </button>
                </div>
            </form>
        </div>
    </div>

    {% for property in properties %}
    <div class="displayDiv row">
        <div class="col-3">
            <img class='imgLogo' src="/propertiesimg/{{ property._id.toString() }}/{{ property._id.toString() }}_0.png" alt="Imagen de {{property.name}}"/>
        </div>
        <div class="col-9">
            <a class="displayProperty" id="displayProperty" href="/properties/details/{{ property._id.toString() }}">
                <div class="d-inline">
                    {% if property.type == 'vivienda' %}
                    <span class="badge badge-primary">Vivienda</span>
                    {%endif%}
                    {% if property.type == 'local' %}
                    <span class="badge badge-secondary">Local</span>
                    {%endif%}
                    {% if property.type == 'suelo' %}
                    <span class="badge badge-dark">Suelo</span>
                    {%endif%}
                    {% if property.typeOp == 'Venta' %}
                    <span class="badge badge-info">Venta</span>
                    {%endif%}

                    {% if property.typeOp == 'Alquiler' %}
                    <span class="badge badge-success">Alquiler</span>
                    {%endif%}
                </div>

                <div class="row">
                    <h3>{{ property.name }}</h3>
                </div>
                <div class="row">
                    {% if property.type == 'vivienda' %}
                    <p> En {{property.address}} , {{property.city}} - {{property.area}}
                        m²</p>
                    {%endif%}
                    {% if property.type == 'local' %}
                    <p> En {{property.address}} , {{property.city}} - {{property.area}}
                        m²</p>
                    {%endif%}

                    {% if property.type == 'suelo' %}
                    <p class="text-capitalize">{{property.type}} en {{property.city}} - {{property.area}} m²
                        ({{property.edifArea}}
                        edificables)</p>
                    {%endif%}
                </div>
                <div class="row">
                    <p class="truncate">{{property.description}}</p>
                </div>
                <div class="row float-right">
                    <h4 class="displayPrice">Precio: {{ property.price }} €</h4>
                </div>
            </a>
            {% if user.permission == 'U' %}
            <div class="row">
                <a type="button" class="centeredComponent btn btn-secondary"
                   href="/conversations/add/{{ property._id.toString() }}">Contactar <span
                        class="fas fa-comment-dots"></span></a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor%}

    <!--Paginaciónmostrarlaactual y 2 anterioresy dossiguientes-->
    <div class="row text-center">
        <ul class="pagination">
            {% for page in pages %}
            <li class="page-item" id="pi-{{page}}">
                {% if url.includes('?') %}
                <a class="page-link" href="{{url}}&pg={{page}}">{{page}}</a>
                {% else %}
                <a class="page-link" href="{{url}}?pg={{page}}">{{page}}</a>
                {% endif %}
            </li>
            {% endfor %}
            <script>
                $("#pi-{{actual}}").addClass("active");
            </script>
        </ul>
    </div>

    {% endif %}

</div>

{% endblock %}