{% extends "../base.html" %}

{% block titulo %} ARCA Inmobiliaria{% endblock %}

{% block contenido_principal %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="breadcrumb-custom" href="/">Inicio</a></li>
        <li class="breadcrumb-item active breadcrumb-custom" aria-current="page">Editar Usuario</li>
    </ol>
</nav>
<div class="container">
    <h1 class="sectionHeader">Editar Perfil</h1>
    <form class="form-horizontal" method="post" action="/users/edit" encType="multipart/form-data">
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Nombre:</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="name" name="name" placeholder="Nombre del Usuario"
                       value="{{ userN.name }}" maxlength="20" minlength="2" required="true"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="surname">Apellidos:</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="surname" name="surname" placeholder="Apellidos del Usuario"
                       value="{{ userN.surname }}" maxlength="50" minlength="8" required="true"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-12">
                <button id="confirmEditProfile" type="submit"
                        class="col-md-12 btnSiguiente btn custom-base-style btn-lg">Modificar Perfil
                </button>
            </div>
        </div>
        <p id="message"></p>
    </form>

</div>

{% endblock %}
