{% extends "../base.html" %}

{% block titulo %} ARCA Inmobiliaria {% endblock %}

{% block contenido_principal %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Registrarse</li>
    </ol>
</nav>
<div class="container">
    <h2 class="sectionHeader">Registrar usuario</h2>
    <form class="form-horizontal" method="post" action="/signin">
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Nombre:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" placeholder="Nombre del Usuario" required="true"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="surname">Apellidos:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="surname" placeholder="Apellidos del Usuario"
                       required="true"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" name="email"
                       placeholder="email@email.com" required="true"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="password">Password:</label>
            <div class="col-sm-10">
                <input id="password" type="password" class="form-control" name="password"
                       placeholder="contraseña" required="true"/>
            </div>
        </div>
        <div class="div-field form-row">
            <button id="btnPicturesA" type="submit" class="col-md-12 btnSiguiente btn custom-base-style btn-lg ">Registrarme</button>
        </div>
    </form>
</div>
{% endblock %}