{% extends "../base.html" %}

{% block titulo %} ARCA Inmobiliaria{% endblock %}

{% block contenido_principal %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editar Usuario</li>
    </ol>
</nav>
<div class="container">
    <h2 class="sectionHeader">Editar Perfil</h2>
    <form class="form-horizontal" method="post" action="/users/edit" encType="multipart/form-data">
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Nombre:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" placeholder="Nombre del Usuario"
                       value="{{ user.name }}" maxlength="20" minlength="2"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="surname">Apellidos:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="surname" placeholder="Apellidos del Usuario"
                       value="{{ user.surname }}" maxlength="50" minlength="8"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="password">Contraseña Actual:</label>
            <div class="col-sm-10">
                <input id="oldPassword" type="password" class="form-control" name="oldPassword"
                       maxlength="50" minlength="8"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="password">Nueva Contraseña:</label>
            <div class="col-sm-10">
                <input id="password" type="password" class="form-control" name="password"
                       maxlength="50" minlength="8"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="confirmEditProfile" type="submit" class="btn btn-dark">Modificar Perfil</button>
            </div>
        </div>
        <p id="message"></p>
    </form>

    <script type="text/javascript">
        $(function () {
            $('#passwordR').keyup(function () {
                if ($('#password').val() != $('#passwordR').val()) {
                    $('#message').html('Las contraseñas no coinciden').css('color', 'red');
                } else {
                    $('#message').html('Las contraseñas coinciden!').css('color', 'green');
                }
            });
        });
    </script>
</div>

{% endblock %}
