{% extends "../base.html" %} {% block titulo %} ARCA Inmobiliaria{% endblock %}

{% block contenido_principal %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="breadcrumb-custom" href="/">Inicio</a></li>
        <li class="breadcrumb-item active breadcrumb-custom" aria-current="page">Mis Seguimientos</li>
    </ol>
</nav>
<div class="container">
    <h1 class="sectionHeader">Mis Seguimientos</h1>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo</th>
                <th scope="col">Tipo De Operación</th>
                <th scope="col">Precio</th>
                <th scope="col" class="header-fixed">Ver Propiedad</th>
                <th scope="col" class="header-fixed">Eliminar Propiedad</th>
            </tr>
            </thead>
            <tbody>
            {% for property in properties %}
            <tr>
                <td scope="row"><span class="font-weight-bold">{{ property.name }}</span></td>
                <td class="text-capitalize">{{ property.type }}</td>
                <td>{{ property.typeOp }}</td>
                <td>{{ property.price }}</td>
                <td>
                    <a class="btn btn-danger" href="/wishes/delete/{{ property._id.toString() }}"><span class="fas fa-trash"></span>Eliminar</a>
                </td>
                <td>
                    <a class="btn-wishes btn btn-dark" href="/properties/details/{{ property._id.toString() }}"><span
                            class="far fa-eye"></span> Ver</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
